/*=============================================
=            MemberList background            =
=============================================*/
:root{
    --ML-border-radius:16px; /* Rounding */
    --ML-member-background: var(--opacity01a); /* member color */
    --ML-role-background: var(--opacity02a); /* role color */
  }
  
  .member_a31c43{
    background: var(--ML-member-background)!important;
    border-radius: 0;
  }
  .membersGroup_cbd271{
    background: var(--ML-role-background)!important;
  }
  
  .member_a31c43:has(+.membersGroup_cbd271){
    border-radius: 0 0 var(--ML-border-radius) var(--ML-border-radius);
    margin-bottom: 10px;
  }
  .membersGroup_cbd271:has(+.member_a31c43){
    border-radius: var(--ML-border-radius) var(--ML-border-radius) 0 0;
  }
.memberInner_a31c43{
  border-radius: inherit!important;
}
[class^=membersGroup]{
  height: fit-content;
  text-align: center;
  padding: 12px 8px 0 16px;
  margin-top: 10px;
  margin-left: 8px;
}
.offline_a31c43 .username_a31c43  {
    opacity: .3;
}
.offline_a31c43 {
    opacity: 1;
}

.offline_a31c43:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  /*=====  End of Section MemberList background  ======*/