/*=============================================
=                 Chat Bubbles                =
=============================================*/

:root {
  --cb-bubble-background: var(--bg-surface-raised); /* Message bubble background */
  --cb-bubble-corner-radius: 10px; /* Message bubble corner radius */

  --cb-mentioned-indicator-width: 2px; /* Width of left indicator line in messages with mention */
  --cb-replying-indicator-width: 2px; /* Width of left indicator line in message that you are replying */

  --chat-bubble: 1;

  --chat-bubble-border-color: var(--input-border);
  --chat-bubble-code-background-color: var(--background-secondary-alt);

  --chat-bubble-box-shadow-h-offset: 0;
  --chat-bubble-box-shadow-v-offset: 4px;
  --chat-bubble-box-shadow-blur: 4px;
    
  --chat-bubble-box-shadow-color-h: 0;
  --chat-bubble-box-shadow-color-s: 0%;
  --chat-bubble-box-shadow-color-l: 0%;
  --chat-bubble-box-shadow-color-a: 0.16;
}

/*#region Message*/
.message__5126c:not(.systemMessage__5126c), .message__5126c:not(.systemMessage__5126c):hover {
  margin-left: 60px!important;
  margin-top: .125rem;
  margin-bottom: .125rem;
  margin-right: 48px!important;
  width: fit-content;
  padding: 10px !important;
  border-radius: var(--cb-bubble-corner-radius);
  background-size: calc(var(--chat-bubble) * 1px);
  border: calc(4px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
  box-shadow: var(--chat-bubble-box-shadow-h-offset) calc(var(--chat-bubble-box-shadow-v-offset) * var(--chat-bubble)) calc(var(--chat-bubble-box-shadow-blur) * var(--chat-bubble)) hsla(var(--chat-bubble-box-shadow-color-h), var(--chat-bubble-box-shadow-color-s), var(--chat-bubble-box-shadow-color-l), calc(var(--chat-bubble-box-shadow-color-a) * var(--chat-bubble)));
}
.message__5126c:not(.systemMessage__5126c) {
    background: color-mix(in srgb, var(--bg-base-tertiary) 75%, transparent)!important;
    min-width: 50px;
}
.message__5126c:not(.systemMessage__5126c):hover {
    background: color-mix(in srgb, var(--bg-base-tertiary) 100%, transparent)!important;
}
.cozy_c19a55 .contents_c19a55 {
    margin-left: 5px!important;
}

div[class*=pollContainer] {
    max-width: 100%;
    min-width: fit-content;
    width: auto;
}

.avatar_c19a55,
.avatarDecoration_c19a55,
.timestampVisibleOnHover_c19a55 { /* Fix avatar, avatar decoration, timestamp position */
  margin-left: -16px;
}
.avatar_c19a55{
    width: 50px!important;
    height: 50px!important;
}
.avatarDecoration_c19a55{
    width: 60px!important;
    height: 60px!important;
}
.timestampVisibleOnHover_c19a55 {
  margin-left: -8px;
}
.repliedMessage_c19a55:before{
    left: -2.5rem;
    width: 23px !important;
    border-top: 2px solid var(--chat-bubble-border-color);
    border-left: 2px solid var(--chat-bubble-border-color);
    position: absolute;
}

/*System Messages*/
.systemMessage__5126c {
    margin-left: 60px!important;
    margin-top: .125rem!important;
    margin-bottom: .125rem;
    margin-right: 48px!important;
    width: fit-content;
    max-width: 100%;
    padding: 10px !important;
    border-radius: var(--cb-bubble-corner-radius);
    background: color-mix(in srgb, var(--bg-base-tertiary) 75%, transparent);
    background-size: calc(var(--chat-bubble)* 1px);
    border: calc(4px* var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: var(--chat-bubble-box-shadow-h-offset) calc(var(--chat-bubble-box-shadow-v-offset)* var(--chat-bubble)) calc(var(--chat-bubble-box-shadow-blur)* var(--chat-bubble)) hsla(var(--chat-bubble-box-shadow-color-h), var(--chat-bubble-box-shadow-color-s), var(--chat-bubble-box-shadow-color-l), calc(var(--chat-bubble-box-shadow-color-a)* var(--chat-bubble)));
}
.systemMessage__5126c:hover {
    margin-left: 60px!important;
    margin-top: .125rem!important;
    margin-bottom: .125rem;
    margin-right: 48px!important;
    width: fit-content;
    max-width: 100%;
    padding: 10px !important;
    border-radius: var(--cb-bubble-corner-radius);
    background: color-mix(in srgb, var(--bg-base-tertiary) 75%, transparent);
    background-size: calc(var(--chat-bubble)* 1px);
    border: calc(4px* var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
    box-shadow: var(--chat-bubble-box-shadow-h-offset) calc(var(--chat-bubble-box-shadow-v-offset)* var(--chat-bubble)) calc(var(--chat-bubble-box-shadow-blur)* var(--chat-bubble)) hsla(var(--chat-bubble-box-shadow-color-h), var(--chat-bubble-box-shadow-color-s), var(--chat-bubble-box-shadow-color-l), calc(var(--chat-bubble-box-shadow-color-a)* var(--chat-bubble)));
}

/*Mentioned*/
.mentioned__5126c::before {
    display: none!important;
    width: 3px!important;
    border-top-left-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
}
.message__5126c:not(.systemMessage__5126c).mentioned__5126c {
    background: var(--background-mentioned)!important;
    border: calc(4px* var(--chat-bubble)) solid var(--background-mentioned)!important;
}
.message__5126c:not(.systemMessage__5126c).mentioned__5126c:hover {
    background: var(--background-mentioned-hover)!important;
    border: calc(4px* var(--chat-bubble)) solid var(--background-mentioned-hover)!important;
}
.replying__5126c .avatar_c19a55 { /* Fix avatar indent when replying */
  margin-left: calc(-4.5rem - var(--cb-replying-indicator-width));
}
/*Replying*/
.replying__5126c:before {
    display: none !important;
    width: 3px !important;
}
.message__5126c:not(.systemMessage__5126c).replying__5126c {
    background: var(--background-message-highlight)!important;
    border: calc(4px* var(--chat-bubble)) solid var(--background-message-highlight)!important;
}
.message__5126c:not(.systemMessage__5126c).replying__5126c:hover {
    background: var(--background-message-highlight-hover)!important;
    border: calc(4px* var(--chat-bubble)) solid var(--background-message-highlight-hover)!important;
}
.cozy_c19a55.hasThread_c19a55:after {
    border-left: 4px solid var(--chat-bubble-border-color);
    border-bottom: 4px solid var(--chat-bubble-border-color);
    border-width: 4px solid var(--chat-bubble-border-color);
    width: 36px !important;
    left: -40px !important;
    top: 58px !important;
}
.cozy_c19a55 .repliedMessage_c19a55:before{
    border-top-width: 4px!important;
    border-left-width: 4px!important;
    border-right-width: 0px!important;
    border-bottom-width: 0px!important;
    width: 40px!important;
    margin-left: -10px;
}

.searchResult__02a39 .cozy_c19a55 .repliedMessage_c19a55:before{
    margin-left: 0px;
    width: 30px!important;
}
.searchResult__02a39 .avatar_c19a55{
    margin-left: 62px;
}
.replying__5126c .avatar_c19a55 {
    left: 12px !important;
    margin-top: 3px !important;
}


/*Epmemeral Messages*/
.message__5126c:not(.systemMessage__5126c).ephemeral__5126c {
    background: var(--background-message-highlight) !important;
    border: 4px solid var(--background-message-highlight);
}
.message__5126c:not(.systemMessage__5126c).ephemeral__5126c:hover {
    background: var(--background-message-highlight-hover) !important;
    border: 4px solid var(--background-message-highlight);
}
.ephemeral__5126c:before {
    background: var(--brand-500);
    display: none !important;
    width: 3px !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}

/*Threads*/
.container__9271d {
  background: var(--background-secondary-alt);
  width: -webkit-fill-available;
  margin-top: unset;
}



/*Reactions*/
.reaction_f8896c { /* Add background to reactions */
  background: var(--background-primary);
  border-color: hsla(0,calc(var(--saturation-factor, 1)*0%),100%,.2);
  margin-top: 5px;
}
.theme-light.reaction_f8896c {
  border-color: hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.2);
}

.reactions_f8896c { /* Fix reactions bottom margin */
  margin-bottom: -1px;
  padding-bottom: unset;
}
.reaction_f8896c {
  margin-bottom: unset;
}

.reactionBtn_f8896c { /* Fix add reaction button bottom margin */
  margin-bottom: unset;
}

/*Emoji*/
.emojiContainer__75abc {
  width: fit-content;
  height: fit-content;
}
.emoji {
  width: 21px;
  height: 21px;
}

/*Dividers*/
.divider__5126c, .divider__908e2 { /* Fix dividers indents */
  position: relative;
  top: 0px !important;
  margin: 17px 0px !important;
}

/*Alt-text*/
.altText__0f481 { /* Fix alt-text indents */
  margin: 10px 0 0 0px;
}
.altText__0f481:empty {
  display: none;
}

/*Embeds*/
.container_b7e1cb { /* Add gaps between embeds */
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}
.reaction_f8896c { /* Fix reactions top margin */
  margin-top: unset;
}
.reactions_f8896c { /* Fix reactions position */
  width: 100%;
}



/*Images*/
.imageWrapper__178ee {
  border-radius: 4px;
  overflow: hidden;
}
.imageContainer__0f481 + .altText__0f481 { /* Hide image details */
  display: none;
}

.messageAttachment__5dae1 .imageWrapper__178ee { /* Make images same width */
  max-width: 350px !important;
}

.messageAttachment__5dae1 {
  width: 100%;
}

/*Remove attachment buttons*/
.imageContainer__0f481 {
  position: relative;
}
.removeAttachmentButton__692b5 {
  z-index: 1;

  position: absolute;
  top: 4px;
  right: -4px;

  background: var(--background-primary);
  border-radius: 4px;
  width: 24px; height: 24px;
  box-shadow: -0.4px 0.4px 2px 0px rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate3d(0,-10px,0);
  transition: all .1s ease-in-out;
}


.markup__75297 blockquote, .markup__75297 pre {
    max-width: fit-content;
}
.wrapper_f7ecac {
    background-color: var(--background-secondary)!important;
}


.cozyMessage__5126c:not(.groupStart__5126c)>.contents_c19a55>.markup__75297:not(:empty, .searchResultsWrap_a9e706 *) code {
    padding-right: 24px!important;
}


/*Other Fixes*/
.container__01ae2 .container__34c2c .reactions_f8896c {
    width: auto;
}
.wrapper_f7ecac {
    background-color: var(--background-secondary) !important;
    background: linear-gradient(var(--chat-bubble-code-background-color), var(--chat-bubble-code-background-color));
    border: 4px solid var(--background-tertiary);
    border-radius: var(--cb-bubble-corner-radius);
    box-shadow: var(--chat-bubble-box-shadow-h-offset) calc(var(--chat-bubble-box-shadow-v-offset)* var(--chat-bubble)) calc(var(--chat-bubble-box-shadow-blur)* var(--chat-bubble)) hsla(var(--chat-bubble-box-shadow-color-h), var(--chat-bubble-box-shadow-color-s), var(--chat-bubble-box-shadow-color-l), calc(var(--chat-bubble-box-shadow-color-a)* var(--chat-bubble)));
}
.inner_a3b500 {
    overflow: hidden;
}

.group-spacing-16 .groupStart__5126c {
    margin-top: 1rem!important;
}
.group-spacing-16 .groupStart__5126c:hover {
    margin-top: 1rem!important;
}
.messageListItem__5126c {
    margin-top: 8px!important;
    margin-left: 10px;
}
/*Poll width Fix*/
[class*=pollContainer] {
    width: -webkit-fill-available!important;
}

/*Quick Fix*/
.lookFilled__3f413.select__3f413{
    background: var(--background-secondary)!important;
}
.select_b08511{
    width: 100%;
}

.hasThread_c19a55:after {
    border-bottom-left-radius: 8px;
    top: 57px!important;
    left: -27px!important;
    bottom: 39px!important;
}
.avatar_c19a55 {
    left: -46px!important;
    margin-top: 3px!important;
}
.avatarDecoration_c19a55{
    left: -50px!important;
}
.cozy_c19a55 .timestamp_c19a55.alt_c19a55 {
    left: -70px!important;
}
div.message__5126c.cozyMessage__5126c.groupStart__5126c.wrapper_c19a55.cozy_c19a55.zalgo_c19a55.hasThread_c19a55.hasReply_c19a55{
    max-width: calc(100% - 130px);
}
div.message__5126c.cozyMessage__5126c.groupStart__5126c.wrapper_c19a55.cozy_c19a55.zalgo_c19a55.hasReply_c19a55{
    max-width: calc(100% - 130px);
}
div.message__5126c.cozyMessage__5126c.groupStart__5126c.wrapper_c19a55.cozy_c19a55.zalgo_c19a55{
    max-width: calc(100% - 130px);
}
div.message__5126c.cozyMessage__5126c.wrapper_c19a55.cozy_c19a55.zalgo_c19a55 {
    max-width: calc(100% - 130px);
}
div.message__5126c.cozyMessage__5126c.selected__5126c.wrapper_c19a55.cozy_c19a55 {
    max-width: calc(100% - 130px);
}

.theme-dark .message__5126c.selected__5126c, .theme-dark.mouse-mode.full-motion .message__5126c:hover{
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
}

.theme-light .message__5126c.selected__5126c, .theme-light.mouse-mode.full-motion .message__5126c:hover{
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
}

.cozy_c19a55 .messageContent_c19a55{
    margin-left: 0px;
    padding-left: 0px;
}

.contentContainer_d9be46 .themedBackground__74017 {
    background: transparent !important;
}
.message__5126c.cozyMessage__5126c.systemMessage__5126c.groupStart__5126c.wrapper_c19a55.cozy_c19a55.zalgo_c19a55.hasThread_c19a55.isSystemMessage_c19a55.hasThread_c19a55:after{
    display: none;
}
.container__01ae2 .chat_a44415 .message__5126c:not(.systemMessage__5126c), .container__01ae2 .chat_a44415 .message__5126c:not(.systemMessage__5126c):hover {
    width: auto;
}
.repliedTextPreview_c19a55 {
    display: flex;
    max-height: none;
}

.container__040f0 {
    position: absolute;
    right: -14px;
    z-index: 1;
    top: -26px;
    padding: 0 14px 0 32px;
}

.popover_f84418{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--border-strong);
    top: 0px;
    right: -10px;
    background: var(--bg-base-tertiary)!important;
}
.cozyMessage__5126c.groupStart__5126c .popover_f84418{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--border-strong);
    top: -8px;
    right: -10px;
    background: var(--bg-base-tertiary)!important;
}
.group-spacing-16 .divider__5126c.beforeGroup__5126c {
    margin-bottom: 0px;
    margin-top: 0;
    top: 0rem;
}

.cozy_c19a55 .header_c19a55{
    margin-right: 10px;
}
.member_c8ffbb{
    background: transparent;
}
.reactionBtn__23977.forceShowLook_ec6b19{
    zoom: 120%;
    border: 1px solid var(--border-strong);
}
.reactionBtn__23977.forceShowLook_ec6b19:hover{
    zoom: 120%;
    border: 1px solid var(--border-strong);
}
.updateReactionButton_faa96b{
    border: 1px solid var(--border-strong)!important;
}
.container_b7e1cb{
    padding-right: 12px;
}

.searchResult__02a39, .mouse-mode.full-motion .searchResult__02a39{
    background: color-mix(in srgb, var(--bg-base-tertiary) 75%, transparent);
    border-radius: 10px;
  
    border: 4px solid var(--border-strong)!important;
    
}
.searchResult__02a39:hover{
    background: color-mix(in srgb, var(--bg-base-tertiary) 100%, transparent)!important;
    border-radius: 10px!important;
    border: 4px solid var(--border-strong)!important;
   
}
.searchResultsWrap_a9e706{
    background: var(--bg-overlay-chat,var(--bg-base-primary));
}
.searchHeader_f3b986{
    background: var(--bg-overlay-3, var(--bg-surface-raised))!important;
    height: 52px;
}

.cozy_c19a55 .messageSpine_c19a55:before, .cozy_c19a55 .repliedMessageClickableSpine_c19a55{
    left: -3rem;
    width: 36px !important;
    border-top: 4px solid var(--chat-bubble-border-color);
    border-left: 4px solid var(--chat-bubble-border-color);
    position: absolute;
}
.cozy_c19a55 .messageSpine_c19a55:before {
    left: -40px;
    width: 38px !important;
    border-top: 4px solid var(--chat-bubble-border-color);
    border-left: 4px solid var(--chat-bubble-border-color);
    position: absolute;
}

.avatarDecoration_c19a55, .avatar_c19a55{
    scale: 80%!important;
    margin-top: -5px!important;
}
.cozy_c19a55.hasThread_c19a55:after{
    top: 58px!important;
}

.avatarDecoration_c19a55 {
    margin-top: -10px!important;
    margin-left: -18px;
}
