/*=============================================
=                 Hide Buttons                =
=============================================*/

/* Hide Buttons */
button[aria-label="Send a gift"] {
    display: none;
}
button[aria-label="Open sticker picker"] {
    display: none;
}
button[aria-label="Open GIF picker"] {
    display: none;
}
.toolbar__9293f [aria-label="Help"] {
  display: none;
}
.toolbar__9293f [aria-label="Notification Settings"] {
  display: none;
}
.iconWrapper__9293f {
    margin: 0 4px;
}
.searchBar__97492{
    width: 140px;
}
.anchor_edefb8.anchorUnderlineOnHover_edefb8 [aria-label="Help"]{
  display: none;
}
/*Hide Reactions on message Hover*/
div[class^="buttonContainer"]>div>div {
    >div[aria-label^="Click to react with"],
    >div[aria-label^="Click to remove"],
    .separator_f84418{
        display: none;
    }
}
.popover__2d0ab.avatarPopover__2d0ab.wrapper_f7ecac{
    display: none;
}
[aria-label= "Disconnect"] .lottieIcon__5eb9b :not(defs)[fill][fill-opacity] {
    fill: var(--red-400);
}
