
/*=============================================
=                                             =
=                 Inbox Layout                =
=                                             =
=============================================*/
/* Private Channel shortcuts as Icons */
.avatarWithText__972a0.layout__20a53 .content__20a53{
  display: none;
}
.channel__972a0 .interactive_bf202d.interactive__972a0.linkButton__972a0 {
    width: 52px;
    display: inline-flex ;
}
.channel__972a0 {
    display:contents;
}
.linkButtonIcon__972a0{
  margin-left: 2px;
  margin-top: 0px;
  scale: 1.2;
}
.interactive_bf202d.interactive__972a0.linkButton__972a0{
    background-color: transparent;
    margin-left: 6px;
}
.content__99f8c{
    height: fit-content !important;
    margin-bottom: 10px;
}
.friendsButtonContainer__35e86{
    width: 52px;
    display: inline-flex ;
}
.channel__972a0 .interactive_bf202d.interactive__972a0.linkButton__972a0 {
    width: 58px;
    display: inline-flex;
    background: none!important;
}

/*Shop Button*/
.marketingButtonBackground__4ed1a{
    display: none;
}
.channel__972a0 .interactive_bf202d.interactive__972a0.linkButton__972a0 .newBadge__4ed1a{
    display: none;
}
/*Shop and Nitro page*/
.scroller_c880e8, .shop__08415{
    background: var(--bg-overlay-chat,var(--bg-base-primary));
}
.searchBar__35e86{
    height: 48px!important;
}
.header_f37cb1{
    height: 48px!important;
}
/*Private Call Background*/
.wrapper_cb9592.minimum_cb9592{
    background: var(--bg-base-tertiary)!important;
}
/*=============================================
=                                             =
=                 Inbox Layout                =
=                                             =
=============================================*/
/* Private Channel shortcuts as Icons */
.avatarWithText_c91bad.layout_ec8679 .content_ec8679{
  display: none;
}
.channel_c91bad .interactive_f5eb4b.interactive_c91bad.linkButton_c91bad {
    width: 52px;
    display: inline-flex ;
}
.channel_c91bad {
    display:contents;
}
.linkButtonIcon_c91bad{
  margin-left: 2px;
  margin-top: 0px;
  scale: 1.2;
}
.interactive_f5eb4b.interactive_c91bad.linkButton_c91bad{
    background-color: transparent;
    margin-left: 6px;
}
.content_eed6a8{
    height: fit-content !important;
    margin-bottom: 10px;
}
.friendsButtonContainer_f0963d{
    width: 52px;
    display: inline-flex ;
}
.channel_c91bad .interactive_f5eb4b.interactive_c91bad.linkButton_c91bad {
    width: 58px;
    display: inline-flex;
    background: none!important;
}

/*Shop Button*/
.marketingButtonBackground_a25714{
    display: none;
}
.channel_c91bad .interactive_f5eb4b.interactive_c91bad.linkButton_c91bad .newBadge_a25714{
    display: none;
}
/*Shop and Nitro page*/
.scroller_a8b566, .shop_ebba41{
    background: var(--bg-overlay-chat,var(--bg-base-primary));
}
.searchBar_f0963d{
    height: 48px!important;
}
.header_fd6364{
    height: 48px!important;
}
/*Private Call Background*/
.wrapper_d880dc.minimum_d880dc{
    background: var(--bg-base-tertiary)!important;
}
