/*Status Box*/
.userProfileOuter_c69a7b .statusBubbleOuter_d0a252{
    border-radius:12px;
    border:1px solid #000}
.userProfileOuter_c69a7b .statusBubbleOuter_d0a252::before{
    border:1px solid #000;
    border-radius:0;
    inset:unset;
    height:6px;
    width:12px;
    top:10px;
    transform:skewX(60deg);
    left:-6px}
.statusBubble_d0a252{
    border-radius:10px;
    padding:6px}
.content_d0a252{
    color:#000}
.userProfileOuter_c69a7b .statusBubbleOuter_d0a252::after{
    display:none}
.custom-profile-theme .statusBubble_d0a252, .custom-profile-theme .statusBubbleOuter_d0a252, .custom-profile-theme .statusBubbleOuter_d0a252:before, .custom-profile-theme .statusBubbleOuter_d0a252:after {
    background-color: var(--background-secondary)!important;
}
.statusBubbleOuter_d0a252:before {
    background-color: var(--custom-status-bubble-background)!important;
}
.statusBubble_d0a252 {
    background-color: var(--custom-status-bubble-background)!important;
}
