/*=============================================
=                Channel Text                 =
=============================================*/

/*Channel text*/
.name_a08117.container_cc72c1 .overflow_a82120{
    left: 6px!important;
}
.name_d8bfb3, .title_fc4f04, .title_fc4f04{
    text-transform: capitalize!important;
    
}
.container_a5ad5c{
    text-align: center;
}
[class^=membersGroup]{
    font-size: 14px;
}
.membersGroup_cbd271.container_cc72c1 {
  font-weight: 900!important;
}
.mainContent_a08117:before {
    right: 0px;
    left: 0px;
    border-bottom: 1px solid var(--border-strong);
}
[class^=membersGroup]{
    right: 0px;
    left: 0px;
    border-bottom: 1px solid var(--border-strong);
}
.membersGroup_cbd271 {
    padding: 20px 8px 0 16px;
    height: 40px;
}
.icon_a08117 {
    left: 6px;
    top: 3px;
    width: 18px;
    height: 18px;
}
/*Announcement Channel Following Box*/
.wrapper_faf5ab {
    margin-bottom: 0px;
}

/* re-edging the corner padding to match pre-refresh */
.visual-refresh [class^=appAsidePanelWrapper] {
    padding: 1px;
}
.theme-dark .panel_bf1a22 {
    background: var(--bg-overlay-1, var(--background-secondary-alt));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* Make profile & derivatives stop hogging the entire bottom left corner*/
.visual-refresh [class^=panels_] {
  border-radius: 10px;
}
/* preference, match spotifycontrols to panel tint */
.theme-dark #vc-spotify-player {
 background: unset; 
}
.theme-light #vc-spotify-player {
 background: unset; 
}
/*Chat bars*/
.visual-refresh .form_a7d72e {
    background-color: var(--bg-base-tertiary);
    border: 1px solid var(--border-faint);
    margin: 8px;
    margin-top: -8px;
    border-radius: var(--radius-sm);
    padding: 8px;
}
.jumpToPresentBar_cf58b5{
    right: 16px;
    
}
.visual-refresh .button_df39bd{
    margin-left: 8px;
}
.visual-refresh .channelAppLauncher_df39bd{
    display:contents;
}
.visual-refresh .searchBar_a46bef{
    background: var(--bg-overlay-4,var(--background-tertiary));
}
.base_d7ebeb{
    bottom: -26px;
}
.button_df39bd {
    background: var(--bg-surface-raised, var(--background-primary)) !important;
}
.visual-refresh .form_a7d72e {
    background-color: var(--bg-base-tertiary)!important;
    border: 1px solid var(--border-faint);
    margin: -1px;
    margin-top: -8px;
    border-radius: 0px;
    margin-bottom: -2px!important;
    background: var(--border-faint);
    padding-bottom: 26px;
    border-top: 1px solid var(--border-strong);
}
.base_d7ebeb {
    bottom: 0px;
}
