/*=============================================
=                Channel Text                 =
=============================================*/

/*Channel text*/
.name_a08117.container_cc72c1 .overflow_a82120{
    left: 6px!important;
}
.name_d8bfb3, .title_fc4f04, .title_fc4f04{
    text-transform: capitalize!important;
    
}
.container_a5ad5c{
    text-align: center;
}
[class^=membersGroup]{
    font-size: 14px;
}
.membersGroup_cbd271.container_cc72c1 {
  font-weight: 900!important;
}
.mainContent_a08117:before {
    right: 0px;
    left: 0px;
    border-bottom: 1px solid var(--border-strong);
}
[class^=membersGroup]{
    right: 0px;
    left: 0px;
    border-bottom: 1px solid var(--border-strong);
}
.membersGroup_cbd271 {
    padding: 20px 8px 0 16px;
    height: 40px;
}
.icon_a08117 {
    left: 6px;
    top: 3px;
    width: 18px;
    height: 18px;
}
/*Announcement Channel Following Box*/
.wrapper_faf5ab {
    margin-bottom: 0px;
}

/* re-edging the corner padding to match pre-refresh */
.visual-refresh [class^=appAsidePanelWrapper] {
    padding: 1px;
}
.theme-dark .panel_bf1a22 {
    background: var(--bg-overlay-1, var(--background-secondary-alt));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* Make profile & derivatives stop hogging the entire bottom left corner*/
.visual-refresh [class^=panels_] {
  border-radius: 10px;
}
/* preference, match spotifycontrols to panel tint */
.theme-dark #vc-spotify-player {
 background: unset; 
}
.theme-light #vc-spotify-player {
 background: unset; 
}
/*Chat bars*/
.visual-refresh .form_a7d72e {
    background-color: var(--bg-base-tertiary);
    border: 1px solid var(--border-faint);
    margin: 8px;
    margin-top: -8px;
    border-radius: var(--radius-sm);
    padding: 8px;
}
.jumpToPresentBar_cf58b5{
    right: 16px;
    
}
.visual-refresh .button_df39bd{
    margin-left: 8px;
}
.visual-refresh .channelAppLauncher_df39bd{
    display:contents;
}
.visual-refresh .searchBar_a46bef{
    background: var(--bg-overlay-4,var(--background-tertiary));
}
.base_d7ebeb{
    bottom: -26px;
}
.button_df39bd {
    background: var(--bg-overlay-3,var(--channeltextarea-background)) !important;
}
.visual-refresh .form_a7d72e {
    background-color: var(--bg-base-tertiary)!important;
    border: 1px solid var(--border-faint);
    margin: -1px;
    margin-top: -8px;
    border-radius: 0px;
    margin-bottom: -2px!important;
    background: var(--border-faint);
    padding-bottom: 26px;
    border-top: 1px solid var(--border-strong);
}
.base_d7ebeb {
    bottom: 0px;
}
/*Forum Channel Background*/
.container_a6d69a{
    background: var(--bg-overlay-chat,var(--bg-base-primary));
}
.background_e85cee{
    background: var(--bg-overlay-chat,var(--bg-base-primary))!important;
}
.container_f1fd9c, .header_f1fd9c, .pageBody_c2efea {
    background: var(--bg-overlay-chat, var(--bg-base-primary))!important;
}
.notice_c02a8d, .theme-dark.visual-refresh .searchBar_a46bef, .button_df39bd{
    background: var(--bg-overlay-3,var(--bg-surface-raised)) !important;
}
.theme-dark .themed_fc4f04, .container_fc4f04 {
    background: var(--bg-base-tertiary)!important;
}
.theme-dark .children_fc4f04:after{
    background: none;
}
.row_b53f4f, .sidebarCardWrapper_e85cee{
    background: var(--bg-surface-raised);
}
.theme-midnight.row_b53f4f, .theme-midnight.sidebarCardWrapper_e85cee{
    background: var(--bg-base-tertiary);
}
.theme-midnight .page_d20375{
    background: var(--bg-base-tertiary)!important;
}
.page_d20375{
    background: var(--bg-overlay-home, var(--bg-base-primary))!important;
}
.panel_bf1a22 {
    background: var(--bg-overlay-1,var(--bg-surface-raised))!important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.privateChannels_f0963d .scrollerBase_eed6a8  {
    margin-bottom: calc(-30px + var(--custom-app-panels-height));
}

.fullSizeInnerThemed_c69a7b, .biteSizeInnerThemed_c69a7b{
    background: var(--bg-base-tertiary)!important;
}
.biteSizeOverlayBackground_c69a7b, .fullSizeOverlayBackground_c69a7b{
    background: var(--bg-overlay-3,var(--bg-surface-raised))!important;
}
.body_cd82a7.inset_ac5d22{
    background-color: var(--background-primary);
    border-radius: 8px!important;
    }

.theme-midnight .outer_ac5d22, .theme-darker .outer_ac5d22 {
    background-color: var(--bg-surface-raised);
}
.contentWrapper_f7506e{
    margin-top: -5px;
}
.autocompleteAttached_bea0d0{
    background: var(--bg-base-secondary);
    bottom: calc(100% + 12px);
}
.wrapper_fe2299{
    background: var(--bg-base-secondary);
}
.outerWrapper_fe2299{
    bottom: calc(100% + 12px);;
}
.wrapper_ba23fe, .wrapper_efd8e6, .categoryHeader_fe2299{
    background: var(--bg-surface-raised);
}
/*Message forwarding*/
.root_f9a4c9{
    background: var(--bg-base-secondary);
}
.footer_f9a4c9{
    background: var(--bg-surface-raised);
}
.container_c18ec9{
    background: var(--bg-surface-raised) !important;
}
/*Server side bar*/
.bannerImage_fd6364{
    width: auto!important;
}
.visual-refresh .bannerImg_fd6364{
    min-width: 256px!important;
}
.platform-win .sidebar_a4d4d9{
    min-width: 256px!important;
}
.visual-refresh [class^=panels_]{
    min-width: 312px;
}
