.message_d5deea, .mouse-mode.full-motion .message_d5deea{
    background: color-mix(in srgb, var(--bg-base-tertiary) 75%, transparent);
    border-radius: 10px;
    margin: 5px!important;
    margin-left: 20px!important;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    border: 4px solid var(--border-strong);
    padding-right: 10px !important;
    margin-right: 18px!important;
}
.mouse-mode.full-motion .message_d5deea:hover{
    background: color-mix(in srgb, var(--bg-base-tertiary) 100%, transparent)!important;
    border-radius: 10px;
    margin: 5px!important;
    margin-left: 20px!important;
    padding-right: 10px !important;
    margin-right: 18px!important;
}
.message_d5deea {
    padding-right: 10px !important;
    margin-right: 18px!important;
}

.cozy_f9f2ca.wrapper_f9f2ca{
    width: fit-content!important;
}
.mentioned_d5deea {
    position: relative;
    background: color-mix(in srgb, var(--background-mentioned) 100%, transparent)!important;
}
.mouse-mode.full-motion .message_d5deea.mentioned_d5deea:hover {
    position: relative;
    background: color-mix(in srgb, var(--background-mentioned) 75%, transparent)!important;
}
.mentioned_d5deea:before{
    border: var(--info-warning-foreground) 1px solid;
    margin-left: -2px;
    margin-top: -2px;
    margin-bottom: -3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 2px;
}
.replying_d5deea {
    position: relative;
    background: color-mix(in srgb, var(--background-message-highlight) 100%, transparent)!important;
}
.mouse-mode.full-motion .message_d5deea.replying_d5deea:hover {
    position: relative;
    background: color-mix(in srgb, var(--background-message-highlight) 75%, transparent)!important;
}
.replying_d5deea:before{
    border: var(--brand-500) 1px solid;
    margin-left: -2px;
    margin-top: -2px;
    margin-bottom: -3px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 2px;
}
.ephemeral_d5deea {
    position: relative;
    background: color-mix(in srgb, var(--background-message-highlight) 100%, transparent)!important;
}
.mouse-mode.full-motion .message_d5deea.ephemeral_d5deea:hover {
    position: relative;
    background: color-mix(in srgb, var(--background-message-highlight) 75%, transparent)!important;
}
.ephemeral_d5deea:before{
    border: var(--brand-500) 1px solid;
    margin-left: -2px;
    margin-top: -2px;
    margin-bottom: -3px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 2px;
}

.popover_e986d9{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--border-strong);
    top: 0px;
    right: -10px;
}
.cozyMessage_d5deea.groupStart_d5deea .popover_e986d9{
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--border-strong);
    top: -8px;
    right: -10px;
}
.group-spacing-16 .divider_d5deea.beforeGroup_d5deea {
    margin-bottom: 0px;
    margin-top: 0;
    top: 0rem;
}

.cozy_f9f2ca .header_f9f2ca{
    margin-right: 10px;
}
.member_cbd271{
    background: transparent;
}
.reactionBtn_ec6b19.forceShowLook_ec6b19{
    zoom: 120%;
    border: 1px solid var(--border-strong);
}
.reactionBtn_ec6b19.forceShowLook_ec6b19:hover{
    zoom: 120%;
    border: 1px solid var(--border-strong);
}
.updateReactionButton_d331f1{
    border: 1px solid var(--border-strong)!important;
}
.container_b558d0{
    padding-right: 12px;
}

.searchResult_ddc613, .mouse-mode.full-motion .searchResult_ddc613{
    background: color-mix(in srgb, var(--bg-base-tertiary) 75%, transparent);
    border-radius: 10px;
  
    border: 4px solid var(--border-strong)!important;
    
}
.searchResult_ddc613:hover{
    background: color-mix(in srgb, var(--bg-base-tertiary) 100%, transparent)!important;
    border-radius: 10px!important;
    border: 4px solid var(--border-strong)!important;
   
}
.searchResultsWrap_c2b47d{
    background: var(--bg-overlay-chat,var(--bg-base-primary));
}
.searchHeader_b7c924{
    background: var(--bg-overlay-3, var(--bg-surface-raised))!important;
    height: 52px;
}
