/*=============================================
=                Channel Text                 =
=============================================*/

/*Channel text*/
.name__29444.container_cc72c1 .overflow__82b15{
    left: 6px!important;
}
.name__2ea32, .title__9293f, .title__9293f{
    text-transform: capitalize!important;
    
}
.container__13cf1{
    text-align: center;
}
[class^=membersGroup]{
    font-size: 14px;
}
.membersGroup_c8ffbb.container_cc72c1 {
  font-weight: 900!important;
}
.mainContent__29444:before {
    right: 0px;
    left: 0px;
    border-bottom: 1px solid var(--border-strong);
}
[class^=membersGroup]{
    right: 0px;
    left: 0px;
    border-bottom: 1px solid var(--border-strong);
}
.membersGroup_c8ffbb {
    padding: 20px 8px 0 16px;
    height: 40px;
}
.icon__29444 {
    left: 6px;
    top: 3px;
    width: 18px;
    height: 18px;
}
/*Announcement Channel Following Box*/
.wrapper__44df5 {
    margin-bottom: 0px;
}

/* re-edging the corner padding to match pre-refresh */
 [class^=appAsidePanelWrapper] {
    padding: 1px;
}
.theme-dark .panel__5dec7 {
    background: var(--bg-overlay-1, var(--background-secondary-alt));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* Make profile & derivatives stop hogging the entire bottom left corner*/
 [class^=panels_] {
  border-radius: 10px;
}
/* preference, match spotifycontrols to panel tint */
.theme-dark #vc-spotify-player {
 background: unset; 
}
.theme-light #vc-spotify-player {
 background: unset; 
}
button.button__67645, span.button__67645{
    border-radius: 50%;
}
/*Chat bars*/
 .form_f75fb0 {
    background-color: var(--bg-base-tertiary);
    border: 1px solid var(--border-faint);
    margin: 8px;
    margin-top: -8px;
    border-radius: var(--radius-sm);
    padding: 8px;
}
.jumpToPresentBar__0f481{
    right: 16px;
    
}
 .channelAppLauncher_e6e74f{
    display:contents;
}
 .searchBar__97492{
    background: var(--bg-overlay-4,var(--background-tertiary));
}
.base_b88801{
    bottom: -26px;
}
.button_e6e74f {
    background: var(--bg-overlay-3,var(--channeltextarea-background)) !important;
}
 .form_f75fb0 {
    background-color: var(--bg-base-tertiary)!important;
    border: 1px solid var(--border-faint);
    margin: -1px;
    margin-top: -8px;
    border-radius: 0px;
    background: var(--border-faint);
    padding-bottom: 26px;
    border-top: 1px solid var(--border-strong);
}
.form_f75fb0{
    padding-left: 5px!important;
}
.base_b88801 {
    bottom: 0px;
}
 .button_e6e74f{
    margin-left: 2px;
    height: 46px;
    width: 42px;
}
.has-webkit-scrollbar .buttons__74017{
    margin-top: 2px;
}
.fontSize16Padding__74017 {
    padding-bottom: 8px;
    padding-top: 10px;
}
.themedBackground__74017, .button_e6e74f, .searchBar__97492, .searchBar__35e86 .searchBarComponent__35e86, .theme-dark .searchBar__97492, .button_e6e74f, .searchBar__97492, .container_a45028, .theme-dark .scrollableContainer__74017.themedBackground__74017, .theme-dark .button_e6e74f.button__201d5.lookBlank__201d5.colorBrand__201d5.grow__201d5, .theme-light .scrollableContainer__74017.themedBackground__74017, .theme-light .button_e6e74f.button__201d5.lookBlank__201d5.colorBrand__201d5.grow__201d5{
    border: 1px solid var(--input-border)!important;
}
.channelTextAreaDisabled__74017 .scrollableContainer__74017{
    margin-bottom: -2px;
}
.textArea__74017.textAreaSlate__74017.textAreaDisabled_d0696b.textArea__74017.slateContainer_ec4baf {
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 44px;
}
.textArea__74017.textAreaSlate__74017.slateContainer_ec4baf {
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 46px;
}

/*Forum Channel Background*/
.container_f369db{
    background: var(--bg-overlay-chat,var(--bg-base-primary));
}
.background__7449f{
    background: var(--bg-overlay-chat,var(--bg-base-primary))!important;
}
.container__0b563, .header__0b563, .pageBody__41ed7 {
    background: var(--bg-overlay-chat, var(--bg-base-primary))!important;
}
.notice__51057, .theme-dark .searchBar__97492, .button_e6e74f{
    background: var(--bg-overlay-3,var(--bg-surface-raised)) !important;
}
.theme-dark .themed__9293f, .container__9293f {
    background: var(--bg-base-tertiary)!important;
}
.theme-dark .children__9293f:after{
    background: none;
}
.row_d13feb, .sidebarCardWrapper__7449f{
    background: var(--bg-surface-raised);
}
.theme-midnight.row_d13feb, .theme-midnight.sidebarCardWrapper__7449f{
    background: var(--bg-base-tertiary);
}
.theme-midnight .page_c791b2{
    background: var(--bg-base-tertiary)!important;
}
.page_c791b2{
    background: var(--bg-overlay-home, var(--bg-base-primary))!important;
}
.panel__5dec7 {
    background: var(--bg-overlay-1,var(--bg-surface-raised))!important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fullSizeInnerThemed_c69a7b, .biteSizeInnerThemed_c69a7b{
    background: var(--bg-base-tertiary)!important;
}
.biteSizeOverlayBackground_c69a7b, .fullSizeOverlayBackground_c69a7b{
    background: var(--bg-surface-raised)!important;
}
.body__00943.inset_bf1984{
    background-color: var(--background-primary);
    border-radius: 8px!important;
    }

.theme-midnight .outer_bf1984, .theme-darker .outer_bf1984 {
    background-color: var(--bg-surface-raised);
}
.contentWrapper__9c62c{
    margin-top: -5px;
}
.autocompleteAttached__6b0e0{
    background: var(--bg-base-secondary);
    bottom: calc(100% + 12px);
}
.wrapper_d1405b{
    background: var(--bg-base-secondary);
}
.outerWrapper_d1405b{
    bottom: calc(100% + 12px);;
}
.wrapper__4e6ce, .wrapper_b1e4f3, .categoryHeader_d1405b{
    background: var(--bg-surface-raised);
}
/*Message forwarding*/
.root__49fc1{
    background: var(--bg-base-secondary);
}
.footer__49fc1{
    background: var(--bg-surface-raised);
}
.container_a45028{
    background: var(--bg-surface-raised) !important;
}
/*Server side bar*/
.bannerImage_f37cb1{
    width: auto!important;
}
 .bannerImg_f37cb1{
    min-width: 330px!important;
}
 .sidebar_c48ade{
    min-width: 258px!important;
    max-width: auto!important;
}
.sidebarResizeHandle_c48ade{
    display: none!important;
}
 [class^=panels_]{
    min-width: auto!important;
}
.buttons_c29ea9 {
    max-width: 220px;
    margin-left: 8px;
}
.bannerImage_f37cb1 {
    height: 105px!important;
    position: absolute;
    width: auto!important;
    top: 0;
    left: -36px;
    scale: 78%;
    align-items: center;
    display: flex;
}
.bannerImage_f37cb1:before{
    background: none;
}
.animatedContainer_f37cb1{
    height: 105px;
}
[style="height: 135px;"]{
  height: 110px!important;
}

.listItem__650eb {
    margin: 0 0 12px;
}
.expandedFolderBackground__48112{
    margin-top: -5px!important;
}




 .container__2637a {
    margin-bottom: calc(16px + var(--custom-app-panels-height, 0));
    border-bottom: 1px solid var(--border-strong);
}
 .container__37e49 {
    height: calc(21px + var(--custom-channel-textarea-text-area-height));
}



.container__551b0{
    background: var(--bg-base-tertiary);
}
.scroller__23746{
    background: var(--bg-base-primary);
}
.mainContent__29444:before{
    left: 8px;
}
/*Server Side Bar with threads*/
[style="height: 12px;"]{
    display: none;
}

.basicChannelRowLink__2ea32{
    margin-top: 4px;
}
.wrapperCommon__29444{
    margin-bottom: 4px;
}

/* Server shortcuts as Icons */
.basicChannelRowLink__2ea32 .name__2ea32{
  display: none;
}
li:not([class]):has(.basicChannelRowLink__2ea32),
div:not([class]):has(.basicChannelRowLink__2ea32) {
    width: 52px;
    display: inline-flex;
}
.basicChannelRowLink__2ea32 .icon__2ea32{
  margin-left: 2px;
  margin-top: 0px;
  scale: 1.2;
}
li:not([class]) > .containerDefault_c69b6d{
    background-color: transparent;
}
.content__99f8c{
    height: fit-content !important;
    margin-bottom: 10px;
}
.wrapper__2ea32.modeSelected__2ea32 .basicChannelRowLink__2ea32 .icon__2ea32 {
    color: var(--interactive-active);
}
.basicChannelRowLink__2ea32 .icon__2ea32:hover {
    color: var(--interactive-active);
}
.basicChannelRowLink__2ea32{
    width: 50px!important;
    background: var(--bg-surface-raised);
    margin-left: -10px!important;
    margin-top: 10px;
}
li:not([class]):has(.basicChannelRowLink__2ea32), div:not([class]):has(.basicChannelRowLink__2ea32){
    margin-left: 10px!important;
    direction:rtl;
}
.basicChannelRowLink__2ea32{
    border-radius: 10px;
}
.basicChannelRowLink__2ea32 .icon__2ea32{
    margin-left: 6px;
}
/*Server Channel Sidebar*/
.sectionDivider__629e4{
    margin-bottom: 5px;
}
.content__99f8c [style="height: 84px;"] {
    margin-top: -25px;
}

/*VC Panel*/
.disabledButtonWrapper__201d5.button_e131a9.buttonColor_e131a9.sizeSmall__201d5.grow__201d5.fullWidth__201d5 {
    padding: 0px!important;
}


/*Folders*/
.expandedFolderBackground__48112 {
    margin-top: 0px !important;
}
.listItem__650eb{
    margin-bottom: 8px;
}

/*Servers*/
 .sidebarList_c48ade{
    border-left: none;
}
 .sidebarList_c48ade,  .privateChannels__35e86{
    background: var(--bg-base-tertiary)!important;
    border: none;
}
.sidebar_c48ade{
    background: var(--bg-base-tertiary)!important;
}
.sidebarList_c48ade{
    border-radius: 0px!important;
}
 .container_e131a9{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*Emoji Picker*/
.contentWrapper__08434, .header_c656ac, .wrapper__4e6ce.categoryList_c0e32c, .packHeader_e94b8c, .wrapper__4e6ce.categoryList__3ad28, .container_fed6d3, .header_fed6d3{
    background: var(--bg-base-secondary);

}
.inspector_aeaaeb, .searchBar_c0e32c.container_fea832.medium_fea832, .container_fea832.medium_fea832, .container_a45028{
    background: var(--bg-surface-raised);
}



/*Channel List Color and Text Boxs*/
 .panels_c48ade,  .themedBackground__74017, .button_e6e74f, .searchBar__97492, .searchBar__35e86 .searchBarComponent__35e86, 
.notice__51057, .theme-dark .searchBar__97492, .button_e6e74f, .searchBar__97492, .container_a45028 {
    background: var(--bg-surface-raised)!important;
}
.panel__5dec7 {
    background: var(--bg-surface-raised)!important;
}
 .container__2637a, .privateChannels__35e86 .scrollerBase__99f8c{
    background: var(--bg-overlay-chat,var(--bg-base-tertiary))!important;
}



/*Chat Bar*/
 .container__2637a, .guilds_c48ade, .privateChannels__35e86 .scrollerBase__99f8c{
    border-bottom: none;
}

 .form_f75fb0{
    border-top: none!important;
}
 .form_f75fb0{
    margin-bottom: -2px;
}
.custom-theme-background .form_f75fb0{
    margin-bottom: -2px;
}

 .form_f75fb0 .channelTextArea_f75fb0.channelTextArea__74017.channelTextAreaDisabled__74017{
    margin-bottom: 2px;
    background: var(--bg-surface-raised);
}
 .form_f75fb0 .wrapper__44df5{
    margin-bottom: -8px;
    background: var(--bg-surface-raised);
}
.form_f75fb0:before {
    background: none;
}
/*Other*/
.jump__5126c{
    right: 55px;
    margin-top: 6px;
}
.quotedChatMessage__5126c{
    left: 10px;
}
.app__160d8 button {
    cursor: pointer;
}
.standardSidebarView__23e6b, .standardSidebarView__23e6b * {
    box-sizing: border-box;
}
.changePasswordButton__2666b {
    margin-bottom: 28px;
}
.sizeSmall__201d5 {
    height: 32px;
}
.button__05e8e{
    height: 32px;
}
 .container__2637a {
    margin-bottom: 0px!important;
}
.replyBar__841c8, .threadSuggestionBar__841c8{
    background: var(--bg-surface-raised)!important;
    border: 1px solid var(--input-border)!important;
    border-bottom: none!important;
}
 .sidebarList_c48ade {
    background: var(--bg-overlay-chat,var(--bg-base-tertiary))!important;
    padding-bottom: calc(8px + var(--custom-app-panels-height))!important;
}
 .sidebar_c48ade{
    background: var(--bg-overlay-app-frame,var(--bg-base-tertiary))!important;
}
 .sidebarList_c48ade,  .privateChannels__35e86 {
    background: var(--bg-overlay-chat, var(--bg-base-tertiary)) !important;
}
 .container__2637a {
    margin-bottom: 0px !important;
    padding-bottom: calc(8px + var(--custom-app-panels-height)) !important;
}
 .sidebarList_c48ade {
    background: var(--bg-overlay-chat, var(--bg-base-tertiary)) !important;
    padding-bottom: 0px!important;
}
.scroller_ef3116{
    margin-bottom: 0px !important;
    padding-bottom: 0px!important;
}
.guilds_c48ade{
    padding-bottom: 0px !important;
}
.unreadMentionsFixedFooter_ef3116 {
    bottom: 0px;
}
 .form_f75fb0{
    background: var(--bg-overlay-chat, var(--bg-base-tertiary))!important;
}
 .footer__214dc{
    display: none;
}
.tree_ef3116 {
    height: calc(-200px + 100%);
}

 .channelTextArea_f75fb0{
    margin-bottom: -2px;
}
.theme-light .scrollableContainer__74017.themedBackground__74017, .theme-light .button_e6e74f.button__201d5.lookBlank__201d5.colorBrand__201d5.grow__201d5{
    background: var(--bg-surface-raised)!important;
    border: 1px solid var(--input-border)!important;
}
.theme-dark .scrollableContainer__74017.themedBackground__74017, .theme-dark .button_e6e74f.button__201d5.lookBlank__201d5.colorBrand__201d5.grow__201d5{
    background: var(--bg-surface-raised)!important;
    border: 1px solid var(--input-border)!important;
}
.theme-darker .scrollableContainer__74017.themedBackground__74017, .theme-darker .button_e6e74f.button__201d5.lookBlank__201d5.colorBrand__201d5.grow__201d5{
    background: var(--bg-surface-raised)!important;
    border: 1px solid var(--input-border)!important;
}
.theme-midnight .scrollableContainer__74017.themedBackground__74017, .theme-midnight .button_e6e74f.button__201d5.lookBlank__201d5.colorBrand__201d5.grow__201d5{
    background: var(--bg-surface-raised)!important;
    border: 1px solid var(--input-border)!important;
}

/*User Buttons VC*/
.button_e131a9 .buttonColor_e131a9, .button_e131a9.buttonColor_e131a9 {
    background: var(--brand-500)!important;
}
.container_e131a9 {
    background: var(--bg-surface-raised)!important
}
/*VC Chat channel*/
.floating__01ae2{
    filter: none!important;
}
/*User pics and status*/
.avatarDecoration_c19a55, .avatar_c19a55{
    scale: 80%!important;
    margin-top: -5px!important;
}
.cozy_c19a55.hasThread_c19a55:after{
    top: 58px!important;
}
