/*=============================================
=                  User Info                  =
=============================================*/

/*User Info*//*FIXED*/
.fade_faf9c0.didRender_faf9c0{
    margin-left: 20px;
}
.guilds_c48ade {
    padding-bottom: 270px;
    background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.panels_c48ade {
    position: relative;
    z-index: 3;
}
.panels_c48ade > .container__37e49 {
    height: 85px;
    z-index: 3;
    position: fixed;
    bottom: 30px;
    left: 1px;
    padding: 10px;
    background: transparent;
    display: flex;
    flex-direction: column;
}
.panels_c48ade > .container__37e49:has([aria-label= "Disable Game Activity"]) {
    bottom: 46px;
}
.withTagAsButton_b2ca13, .withTagless_b2ca13 {
    align-items: center;
    display: flex;
    margin-left: 10px;
    min-width: 0px;
    padding-left: 2px;
    position: fixed;
    margin-top: 5px;
}
.withTagAsButton_b2ca13 .nameTag__37e49, .withTagless_b2ca13 .nameTag__37e49{
    display: none;
}
.container__37e49 .flex__7c0ba.horizontal__7c0ba.justifyStart_abf706.alignStretch_abf706.noWrap_abf706{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: var(--bg-surface-raised);
    border-radius: 20px;
    padding-top: 50px;
    margin-top: -8px!important;
}
.popoutContainer_ad5fac {
    margin-left: 80px;
    margin-bottom: -50px;
}
.scroller_ef3116 {
    background: transparent!important;
    background-color: transparent!important;
}
/*User Game Button*//*FIXED*/
.guilds_c48ade {
    padding-bottom: 220px;
}
.panels_c48ade > .container__37e49 {
    height: 130px;
}
[class*="withTagAsButton"] {
    min-width: 36px !important;
}
.container__37e49 .flex__7c0ba.horizontal__7c0ba.justifyStart_abf706.alignStretch_abf706.noWrap_abf706.container__37e49 .flex__7c0ba.horizontal__7c0ba.justifyStart_abf706.alignStretch_abf706.noWrap_abf706{
    padding-top: 55px;
    margin-top: -6px!important;
}

.container__37e49 .flex__7c0ba.horizontal__7c0ba.justifyStart_abf706.alignStretch_abf706.noWrap_abf706 {
    left: 10px;
}
[class*="panels"] [class*="avatarWrapper"] {
    min-width: 34px !important;
    position: absolute;
    left: 19px;
    justify-content: center!important;
    align-items: center!important;
}
.nameTag__37e49.canCopy__37e49 {
    display: none;
}



.button_e131a9.buttonColor_e131a9 {
    background: none;
    border: 0px solid var(--background-primary)!important;
    border-radius: 10px;
}
.vc-spotify-button-row button, .vc-spotify-button-row:hover button {
    background: var(--brand-500)!important;
    color: var(--white-500);
    border: 1px solid var(--input-border)!important;
    border-radius: 10px;
    width: 40px;
}
.vc-spotify-button-row{
    gap: 8px!important;
    padding-top: 5px;
}
.container__37e49 .flex__7c0ba.horizontal__7c0ba.justifyStart_abf706.alignStretch_abf706.noWrap_abf706{
    background: var(--bg-surface-raised)!important;
    border: 1px solid var(--input-border)!important;
    margin-left: -2px;
}
button.button__67645:hover{
    background: transparent!important;
}
.dot__148e9 {
    display: none!important;
}
.container__37e49 .avatar__37e49{
    margin-left: -1px!important;
    margin-top: 5px!important;
}
.avatarWrapper__37e49:hover{
    background: transparent!important;
}





[class^=panels_] {
    margin: 5px !important;
    border: 1px solid var(--input-border)!important;
}

.container_e131a9 {
    border-radius: 10px!important;
    border-bottom: none;
}
#vc-spotify-player {
    padding: .375rem .5rem;
    border-bottom: 0px solid var(--background-modifier-accent);
    --vc-spotify-green: #1db954;
}


.sidebar_c48ade {
    background: var(--bg-overlay-chat,var(--bg-base-tertiary))!important;
}

.lookFilled__201d5.colorBrand__201d5 {
    color: var(--white-500);
    background-color: var(--brand-500);
}
.lottieIcon__5eb9b.buttonIcon_e131a9 :not(defs *)[fill]{
    fill: var(--white-500)!important;
    stroke: var(--white-500);
}
.lottieIcon__5eb9b.buttonIcon_e131a9 :not(defs *)[stroke][stroke-opacity] {
    fill: var(--white-500)!important;
    stroke: var(--white-500);
}
.theme-light .dot__148e9 {
    background-color:  var(--brand-500);
}






/*Shake animation hover to the text area when you don't have permission !*/

/* Define the shake animation */
@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Hover state to trigger the shake animation */
.vc-spotify-button svg:hover {
  animation: spin-animation 0.8s ease-in-out;
}
.vc-spotify-button svg{
    width: 70px;
    height: 26px;
}

[aria-label="Disable Game Activity"]:hover{
    animation: spin-animation 0.8s ease-in-out;
}
