/**
* @name Color
* @author Krazytrain#0888
* @version 0.2
* @description Edited somethings...
 */

/* Using an imported font. Example using Roboto */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
::-webkit-input-placeholder, body, button, input, select, textarea {
    font-family: 'Merriweather Sans', sans-serif;
}
.chatContent-3KubbW .messageContent-2t3eCI, 
.chatContent-3KubbW .username-h_Y3Us{
    font-size: 1.0em;
}
.chatContent-3KubbW .cozy-VmLDNB .timestamp-p1Df1m
{
    font-size: 1.1em;
}
.chatContent-3KubbW .timestamp-p1Df1m span
{
    font-size: 0.6em;
}

/*Color Codes and Names*/
:root{
  --voice-color--: #287fe1;
  --icon-unread--: rgb(255, 0, 0);
  --category-color--: rgb(5, 190, 196);
  --default-color--: rgb(142, 146, 151);
}


/* Pings */
.numberBadge-37OJ3S {
  font-size: 16px;
  border-radius: 5px;
  animation: animatedPing 1.3s infinite ease-in-out;
}
@keyframes animatedPing {
  0% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(12deg) scale(1.2);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.children-1MGS9G{
    margin-right: 4px;
}


/* Hover Channels animated */
.mainContent-20q_Hp:hover {
  animation: UserModalButtons 0.5s normal ease;}
.mainContent-20q_Hp .noWrap-3jynv6 {width: 100px;opacity: 1;}
.mainContent-20q_Hp {transition: 0.2s;}
.mainContent-20q_Hp:hover {transition: 0.2;}
@keyframes UserModalButtons {
  0% {
    transform: translateY(0px);
  }
  45% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(0px);
  }
}

/*Remove gift nitro and stickers button*/
.button-38aScr[aria-label="Send a gift"] {
    display:none;
    }
.stickerButton-1-nFh2 {
  display: none;
}

   
/*Icon Unread*/
.modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg {
    color: var(--icon-unread--);
}


/* Channel Cat Center */
.name-3l27Hl, .wrapper-1S43wv {
    text-align: center;
}

/* Channel Width*/
:root { --sidebar-initial-width: 280px; }
.sidebar-1tnWFu {
    resize: horizontal;
    width: var(--sidebar-initial-width);
}
.sidebar-1tnWFu .channel-2QD9_O { max-width: unset; }
.bannerImg-2PzH6z {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
    display: block;
}
.bannerImage-ubW8K- { 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* CHANNEL VOICE*/
.modeConnected-NrO4cP .users-3kndPl {
  color: var(--voice-color--);
  text-shadow: 0 0 1px;
}
.listDefault-2F-w65 {
  padding-left: 24px;
}
.voiceUser-3nRK-K {
  z-index: 1;
}
.voiceUser-3nRK-K .content-1Tgc42 {
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
}
.voiceUser-3nRK-K .avatarContainer-3FF_Km {
  position: relative;
  transition: all 0.1s ease-in-out;
}
.voiceUser-3nRK-K .avatarContainer-3FF_Km:after {
  content: "";
  position: absolute;
  width: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  background: linear-gradient(to right, var(--voice-color--) 10%, transparent);
  opacity: 0.5;
  transition: all 0.1s ease-in-out, width 0.15s ease-in-out;
  pointer-events: none;
  z-index: -1;
}
.voiceUser-3nRK-K .avatarSpeaking-2pCGrZ {
  box-shadow: 0 0 0 2px var(--voice-color--), inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.voiceUser-3nRK-K .avatarSpeaking-2pCGrZ:after {
  top: -2px;
  bottom: -2px;
  width: 100px;
}
.voiceUser-3nRK-K .username-3KYl0N {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in-out;
}
.voiceUser-3nRK-K .usernameSpeaking-3FKv6H {
  color: #fff !important;
}
.audienceVoiceUserIconContainer-29oflP {
  background-color: var(--voice-color--);
  color: #fff;
}

/*CodeBlock Fixes*/
.hljs::after, .hljs::before, .hljs.bash::before, .hljs::after, .hljs::before {
  content: none;
}


/* Emoji Size */
.reaction-2A2y9y .reactionCount-1zkLcN {
    padding: 6px;
    font-size: 18px;
}
.reaction-2A2y9y {
    border-radius: 20px;
}
.reaction-2A2y9y .emoji {
    width: 24px;
    height: 24px;
    margin: .125rem 0;
    min-width: auto;
    min-height: auto;
}
.embed-hKpSrO .emoji {
    width: 20px;
    height: 20px;
}

/*Button Wrap*/
.lookFilled-yCfaCM {
    border-radius: 20px;
}

/*Banner Size*/
.header-3OsQeK {
    padding: 0 16px;
    height: 34px;
}
.hasBanner-2IrYih .header-3OsQeK, .hasBanner-2IrYih .header-3OsQeK:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    height: 48px;
}
.channelNotice-K4UfZY {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px solid var(--background-primary);
}
.lookFilled-yCfaCM {
    margin-top: 0px;
}

/*Invite Wrap*/
.wrapper-1HIH0j {
    border-radius: 20px;
    border: solid;
    border-width: 4px;
    border-color: var(--background-secondary-alt);
}


/* Embed Wrap */
.embedWrapper-1MtIDg.embedFull-1HGV2S  {
    border: solid;
    border-width: 4px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px var(--background-secondary-alt);
}



/*category containers*/
.container-q97qHp{
  color: var(--category-color--);
}
.headerText-1qIDDT {
    color: var(--default-color--);
}
.membersGroup-2eiWxl {
    color: var(--default-color--);
}
.title-x4dI75{
    color: var(--default-color--);
}
.containerDefault-3TQ5YN {
  margin-top: .2em;
  margin-bottom: .2em;
  padding: 0px !important;
  height: 1.4em !important;
  border: 1px solid RGBA(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: RGBA(0, 0, 0, 0.4);
}
/*channel containers*/
.content-1gYQeQ {
  background-color: rgba(0,0,0,0);
  border: 2px solid rgba(79,84,92,0);
  padding: 0px;
}
.iconItem-1EjiK0 {
  margin-left: 3px !important;
  padding: 0px 6px !important;
}
.mainContent-20q_Hp{
  padding: 5px 2px !important;
}
.iconItem-1EjiK0 {
  margin-left: 3px !important;
  padding: 0px 1px !important;
}
