/**
 * @name Defaultlook
 * @author Krazytrain
 * @version 1.0.0
 * @description A soft and comfy feel for Discord.
*/
/*==================================================
=            Main Theme Don't Remove               =
==================================================*/
@import url('https://krazytrain.github.io/Theme/Main Theme/fonts.css');
@import url('https://krazytrain.github.io/Theme/Main Theme/Theme Links.css');
/*==================================================
=                  Radial Status                   =
==================================================*/
@import url('https://krazytrain.github.io/Theme/Main Theme/Radial Status.css');
/*==================================================
=   Radial Chat Status NEED PLATORMINDICATORS ON   =
==================================================*/
@import url('https://krazytrain.github.io/Theme/Main Theme/Radial chat Status.css');
:root {
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 3px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}
/*=================================================
=               Custom CSS Code                   =
=================================================*/

/* Server shortcuts as Icons */
.basicChannelRowLink_d8bfb3 .name_d8bfb3{
  display: none;
}
li:not([class]):has(.basicChannelRowLink_d8bfb3),
div:not([class]):has(.basicChannelRowLink_d8bfb3) {
    width: 57px;
    display: inline-flex;
}
.basicChannelRowLink_d8bfb3 .icon_d8bfb3{
  margin-left: 2px;
  margin-top: 0px;
  scale: 1.2;
}
li:not([class]) > .containerDefault_f6f816{
    background-color: transparent;
}
.content_eed6a8{
    height: fit-content !important;
    margin-bottom: 10px;
}
.wrapper_d8bfb3.modeSelected_d8bfb3 .basicChannelRowLink_d8bfb3 .icon_d8bfb3 {
    color: var(--interactive-active);
}
.basicChannelRowLink_d8bfb3{
    width: 54px!important;
    background: var(--input-border);
    border-radius: var(--radius-sm) !important;
    border: 1px solid var(--input-border) !important;
    justify-content: center;
    margin-left: -6px!important;
    margin-top: 10px;
}
li:not([class]):has(.basicChannelRowLink_d8bfb3), div:not([class]):has(.basicChannelRowLink_d8bfb3){
    margin-left: 5px!important;
    direction:rtl;
}
.basicChannelRowLink_d8bfb3{
    border-radius: 10px;
}
.basicChannelRowLink_d8bfb3 .icon_d8bfb3{
    margin-left: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

/* Private Channel shortcuts as Icons */
.avatarWithText_c91bad.layout_ec8679 .content_ec8679{
  display: none!important;
}
.channel_c91bad .interactive_f5eb4b.interactive_c91bad.linkButton_c91bad {
    display: inline-flex !important;
}
.channel_c91bad {
    display:contents!important;
}
.linkButtonIcon_c91bad{
  margin-left: 2px!important;
  margin-top: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.interactive_f5eb4b.interactive_c91bad.linkButton_c91bad{
    background-color: transparent;
    margin-left: 8px!important;
}
.content_eed6a8{
    height: fit-content !important;
    margin-bottom: 10px!important;
}
.friendsButtonContainer_f0963d{
    width: 62px!important;
    display: inline-flex !important;
}
.channel_c91bad .interactive_f5eb4b.interactive_c91bad.linkButton_c91bad {
    width: 54px!important;
    display: inline-flex!important;
    background: var(--input-border)!important;
    border-radius: var(--radius-sm) !important;
    border: 1px solid var(--input-border) !important;
    height: 36px!important;
}
