/**
 * @name defaultlook
 * @author Krazytrain
 * @version 1.0.0
 * @description A soft and comfy feel for Discord.
*/
/*Colors Themes (PICK ONE OF THEM)*//*
@import url('https://krazytrain.github.io/Theme/Colors/frappe.css');
@import url('https://krazytrain.github.io/Theme/Colors/macchiato.css');
*/
@import url('https://krazytrain.github.io/Theme/Colors/Mocha.css');
/*@import url('https://krazytrain.github.io/Theme/Colors/Mocha Pink.css');
*/

@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://krazytrain.github.io/Theme/Addons/Channel&Member List.css');
@import url('https://krazytrain.github.io/Theme/Main Theme/Main.css');

:root {
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 3px;
  --rs-medium-width: 3px;
  --rs-large-width: 3px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
  --channel-border-radius:10px; /* Rounding */
  --channel-background: var(--background-tertiary); /* channel color */
  --channel-title-background: var(--background-tertiary); /* title color */
  --ML-border-radius:10px; /* Rounding */
  --ML-member-background: var(--background-tertiary); /* member color */
  --ML-role-background: var(--background-tertiary); /* role color */
}




