/**
 * @name test
 * @author Gibbu#1211
 * @version 1.0.0
 * @description A soft and comfy feel for Discord.
 * @invite ZHthyCw
 * @authorId 174868361040232448
 * @source https://github.com/DiscordStyles/SoftX
*/

/* Using an imported font. Example using Roboto */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
::-webkit-input-placeholder, body, button, input, select, textarea {
    font-family: 'Merriweather Sans', sans-serif;
}
.chatContent-3KubbW .messageContent-2t3eCI, 
.chatContent-3KubbW .username-h_Y3Us{
    font-size: 1.1em;
}
.chatContent-3KubbW .cozy-VmLDNB .timestamp-p1Df1m
{
    font-size: 1.1em;
}
.chatContent-3KubbW .timestamp-p1Df1m span
{
    font-size: 0.6em;
}


/*Channel Size*/
.scroller-1ox3I2{
    zoom: 80%!important;
}
.channelName-3KPsGw, .name-28HaxV{
    font-size: 1.0em!important;
}
.usernameFont-2oJxoI{
    font-size: 1.0em!important;
}
.name-3BUDLf{
    font-size: 1.0em!important;
}
/*Channel numbers*/
.children-1MGS9G{
    font-size: 18px;
}
.children-1MGS9G:hover{
    font-size: 14px;
    zoom: 125%;
}
.icons-2mwuFp{
    font-size: 18px;
    zoom: 125%;
}
.icons-2mwuFp:hover{
    font-size: 14px;
    zoom: 125%;
}
/* Channel Names Capitalized */
.channelName-3KPsGw {
text-transform: capitalize;
}



.modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg {
    color: #8e9297 !important;
}

/* Channel Cat Center */
.name-3l27Hl, .wrapper-1S43wv {
    text-align: center;
}
.containerDefault-3TQ5YN {
    -webkit-text-fill-color: var(--category-color--);
}

/* Channel Width*/
:root { --sidebar-initial-width: 280px; }
.sidebar-1tnWFu {
    width: 280px;
}
.bannerImg-2PzH6z {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
    display: block;
}
.bannerImage-ubW8K- { 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



/*Channel Info*/
.avatars-37eU13, .members-1CYCy_, .channelSettingButtons-sCQ_2T{
    display: none;
}

/*CodeBlock Fixes*/
.hljs::after, .hljs::before, .hljs.bash::before, .hljs::after, .hljs::before {
  content: none;
}
#app-mount .hljs {
    width: 100%!important;
    margin-right: -22px;
}
.markup-eYLPri pre {
  padding-right: 20px;
  max-width: 100%;
}

.blockquoteContainer-3VtvI1{
    width: 115%!important;
    margin-left: -5px;
}






/* Emoji Size */
.reaction-2A2y9y .reactionCount-1zkLcN {
    padding: 6px;
    font-size: 18px;
}
.reaction-2A2y9y {
    border-radius: 20px;
}
.reaction-2A2y9y .emoji {
    width: 24px;
    height: 24px;
    margin: .125rem 0;
    min-width: auto;
    min-height: auto;
}
.embed-hKpSrO .emoji {
    width: 20px;
    height: 20px;
}






/*Invite Wrap*/
.wrapper-1HIH0j {
    border-radius: 20px;
    border: solid;
    border-width: 4px;
    border-color: var(--background-secondary-alt);
}


/* Embed Wrap */
.embedWrapper-1MtIDg.embedFull-1HGV2S  {
    border: solid;
    border-width: 4px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px var(--background-secondary-alt);
}
.embedFull-1HGV2S {
    width: max-content;
    max-width: 100%;
}



/*category containers*/
.container-q97qHp {
  color: var(--category-color--);
}
.headerText-1qIDDT {
    color: var(--default-color--);
}
.membersGroup-2eiWxl {
    color: var(--default-color--);
}
.title-x4dI75{
    color: var(--default-color--);
}

.embedSuppressButton-1rZHq6 {
    right: 2px;
    top: 2px;
}


/*Size Cat*/
.addButton-2mlqCW.forceVisible-14yqh4 {
    zoom: 125%;
    top: 2.5px;
    left: 1px;
}
.icon-3zI3d2 {
    position: absolute;
    left: -2px;
    top: -1.5px;
    width: 12px;
    height: 12px;
    zoom: 300%!important;
}





/*Hot Fix*/
.interactive-iyXY_x{
    width: 265px;
}
.channelNotice-K4UfZY{
    margin-left: 0px;
    margin-right: 0px;
}
.primaryInfo-2ocY3v{
    height: 35px;
}
.header-3OsQeK{
    margin-bottom: 0px;
}
.hasBanner-2IrYih .header-3OsQeK, .hasBanner-2IrYih .header-3OsQeK:hover{
    height: 48px;
}
.channelNotice-K4UfZY{
    margin-top: 0px;
}

.channelInfo-3jN1ay{
    zoom: 140%;
}




/* Mentions */
.replying-1x3H0T,
.mentioned-xhSam7 {
  background: rgba(151, 197, 250, 0.15) !important;
}
.mentioned-xhSam7:before {
  background-color: var(--brand-experiment);
}
.numberBadge-37OJ3S.base-3IDx3L {
    background-color: rgba(255, 0, 0) !important;
}


.modeUnread-3Cxepe, .unreadRelevant-2f-VSK{
background-color: rgba(255, 0, 0, 0.322) !important;
}
.unreadRelevant-2f-VSK{
    left: -5px;
}
.content-1gYQeQ:hover{
    background-color: rgba(255, 255, 255, 0) !important;
}

/*Voice Connection*/
.modeConnected-NrO4cP, .modeConnected-NrO4cP:hover{
    background-color: rgba(73, 205, 50, 0.322) !important;
}
/*Text channel hover active*/
.modeSelected-3DmyhH{
    background-color: rgba(73, 205, 50, 0.322) !important;
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ{
    background-color: rgba(73, 205, 50, 0) !important;
}
.interactiveSelected-29CP8y{
    background-color: rgba(73, 205, 50, 0.322) !important;
}


.selected-g-kMVV.item-3XjbnG, .selected-g-kMVV.item-3XjbnG:hover{
    background-color: rgba(73, 205, 50, 0.322) !important;
}



/*Mention Chat Color*//*
.replying-eZ7p5z, .mentioned-Tre-dv {
    background: rgba(255, 255, 255, 0) !important;
    right: 2px;
}
*/

/*Color Codes and Names*/
:root{
  --voice-color--: #287fe1;

}


/* CHANNEL VOICE*/
.modeConnected-NrO4cP .users-3kndPl {
  color: var(--voice-color--);
  text-shadow: 0 0 1px;
}
.listDefault-2F-w65 {
  padding-left: 24px;
}
.voiceUser-3nRK-K {
  z-index: 1;
}
.voiceUser-3nRK-K .content-1Tgc42 {
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
}
.voiceUser-3nRK-K .avatarContainer-3FF_Km {
  position: relative;
  transition: all 0.1s ease-in-out;
}
.voiceUser-3nRK-K .avatarContainer-3FF_Km:after {
  content: "";
  position: absolute;
  width: 0;
  top: 0;
  bottom: 0;
  left: 50%;
  background: linear-gradient(to right, var(--voice-color--) 10%, transparent);
  opacity: 0.5;
  transition: all 0.1s ease-in-out, width 0.15s ease-in-out;
  pointer-events: none;
  z-index: -1;
}
.voiceUser-3nRK-K .avatarSpeaking-2pCGrZ {
  box-shadow: 0 0 0 2px var(--voice-color--), inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.voiceUser-3nRK-K .avatarSpeaking-2pCGrZ:after {
  top: -2px;
  bottom: -2px;
  width: 100px;
}
.voiceUser-3nRK-K .username-3KYl0N {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in-out;
}
.voiceUser-3nRK-K .usernameSpeaking-3FKv6H {
  color: #fff !important;
}
.audienceVoiceUserIconContainer-29oflP {
  background-color: var(--voice-color--);
  color: #fff;
}


/*User Popout*/
.animatorRight-xAUgTY{
    width: 400px !important;
    height: auto;
}
.userPopout-2j1gM4{
    width: 400px !important;
    height: auto !important;
}
.banner-1YaD3N{
    width: 400px !important;
}
.role-2TIOKu{
    zoom: 120%;
}
.bodyInnerWrapper-2bQs1k{
    align-content: center !important;
}
.popoutBannerPremium-3i5EEI{
	max-width: 400px !important;
}
.banner-1YaD3N{
	width: 600px !important;
}








