/*=============================================
=              Channels background            =
=============================================*/

/*---------- Settings  ----------*/

:root{
  --channel-border-radius:16px; /* Rounding */
  --channel-background: var(--background-tertiary); /* channel color */
  --channel-title-background: var(--background-tertiary); /* title color */
}

/*----------  Code  ----------*/


.containerDefault_f6f816{
	background: var(--channel-background);
	border-radius: 0;
}

.containerDefault_a08117{
	background: var(--channel-title-background);
	margin: 8px 0 0;
	padding:0
}

.containerDefault_a08117,
[style="height: 12px;"] + .containerDefault_f6f816,
li:has(.containerWithMargin_c75f85) + li,
li:has(.progressBarContainer_e31e8a) + li{
	border-radius: var(--channel-border-radius) var(--channel-border-radius) 0 0;
}

.containerDefault_f6f816,
.containerDefault_a08117,
.sidebar_a4d4d9 li:not([class]){
	margin-left: 0!important;
	width: 100%;
	max-width: calc(100% - 8px)!important;
	overflow: hidden;
	margin-left: 8px!important;
}

.containerDefault_f6f816:has(+.containerDefault_a08117),
.containerDefault_f6f816:is(:nth-last-child(1),:has(+.voiceChannelsButton_a08117)),
.containerDefault_f6f816:has(+.sectionDivider_c43953),
li:has([data-list-item-id^="channels___members"]),
li:has(+.sectionDivider_c43953){
	border-radius: 0 0 var(--channel-border-radius) var(--channel-border-radius);
}

.asd{
	border-radius: 0 0 var(--channel-border-radius) var(--channel-border-radius);
}

.containerDefault_a08117:has(+.containerDefault_a08117),
.containerDefault_a08117:nth-last-child(1),
[style="height: 12px;"] + .containerDefault_f6f816:has(+.containerDefault_a08117),
.content_eed6a8:not(:has([data-list-item-id^="channels___upcoming-events-"])):not(:has([data-list-item-id^="channels___home-tab-"])) li:has([data-list-item-id^="channels___channels-"]){
	border-radius: calc(var(--channel-border-radius) / 2);
}

.container_e1e976:has(+.containerDefault_f6f816) .containerDefault_f6f816{
	border-radius: 0;
}
.spineBorder_e1e976{
	display: none;
}

li:not([class]) > .containerDefault_f6f816{
	border-radius: 0;
	margin: 0!important;
	max-width: none!important;
}


.link_d8bfb3 {
	border-radius: 0;
}

.wrapper_d8bfb3:hover .link_d8bfb3,
.modeSelected_d8bfb3 .link_d8bfb3,
.modeSelected_d8bfb3:hover .link_d8bfb3{
	background: none;
}

.containerDefault_f6f816:hover,
.containerDefault_f6f816:has(.modeSelected_d8bfb3){
	background: var(--background-modifier-active);
}
.mainContent_a08117:before{
    background: none!important;
}
.sidebar_a4d4d9 li:first-of-type{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sidebar_a4d4d9 li:first-child{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}


.containerDefault_a08117:has(+.containerDefault_a08117), .containerDefault_a08117:nth-last-child(1), [style="height: 12px;"] + .containerDefault_f6f816:has(+.containerDefault_a08117), .content_eed6a8:not(:has([data-list-item-id^="channels___upcoming-events-"])):not(:has([data-list-item-id^="channels___home-tab-"])) li:has([data-list-item-id^="channels___channels-"]) {
    border-radius: 10px;
}
.icon_a08117, .children_a08117{
    display: none;
}
.name_a08117.container_cc72c1 .overflow_c74e70{
    left: 0px!important;
} 

ul[aria-label$=" threads"]>li:nth-child(1n){
    border-top-right-radius: 0px!important;
    border-top-left-radius: 0px!important;
}
.container_c75f85{
    border-radius: var(--channel-border-radius) var(--channel-border-radius) 0 0;
    background: var(--channel-title-background);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.container_c75f85:after{
    display: none;
}
.sidebar_a4d4d9{
    border-top-left-radius: 0px!important;
}



#channels div{
  font-size: 14px;
}
.mentionsBadge_e2a798 .numberBadge_df8943{
    font-size: 12px!important;
}
.goalText_c75f85, .progressFraction_c75f85{
    scale: 0.9;
}
.name_a08117.container_cc72c1 .overflow_c74e70{
  font-size: 12px!important;
}
