/*=============================================
=                 Chat Bubbles                =
=============================================*/

:root {
  --cb-bubble-background: var(--background-secondary); /* Message bubble background */
  --cb-bubble-corner-radius: 10px; /* Message bubble corner radius */

  --cb-mentioned-indicator-width: 2px; /* Width of left indicator line in messages with mention */
  --cb-replying-indicator-width: 2px; /* Width of left indicator line in message that you are replying */

  --chat-bubble: 1;

  --chat-bubble-background-color: var(--background-secondary);
  --chat-bubble-border-color: var(--background-secondary-alt);
  --chat-bubble-code-background-color: var(--background-secondary-alt);

  --chat-bubble-box-shadow-h-offset: 0;
  --chat-bubble-box-shadow-v-offset: 4px;
  --chat-bubble-box-shadow-blur: 4px;
    
  --chat-bubble-box-shadow-color-h: 0;
  --chat-bubble-box-shadow-color-s: 0%;
  --chat-bubble-box-shadow-color-l: 0%;
  --chat-bubble-box-shadow-color-a: 0.16;
}

/*#region Message*/
.message_d5deea:not(.systemMessage_d5deea), .message_d5deea:not(.systemMessage_d5deea):hover {
  background: var(--cb-bubble-background)!important;
  margin-left: 4rem;
  margin-top: .125rem;
  margin-bottom: .125rem;
  margin-right: 48px;
  width: fit-content;
  max-width: calc(100% - 9rem);
  padding: 10px !important;
  border-radius: var(--cb-bubble-corner-radius);
  background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
  background-size: calc(var(--chat-bubble) * 1px);
  border: calc(1px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
  box-shadow: var(--chat-bubble-box-shadow-h-offset) calc(var(--chat-bubble-box-shadow-v-offset) * var(--chat-bubble)) calc(var(--chat-bubble-box-shadow-blur) * var(--chat-bubble)) hsla(var(--chat-bubble-box-shadow-color-h), var(--chat-bubble-box-shadow-color-s), var(--chat-bubble-box-shadow-color-l), calc(var(--chat-bubble-box-shadow-color-a) * var(--chat-bubble)));
}

div[class*=pollContainer] {
    max-width: 100%;
    min-width: fit-content;
    width: auto;
}
.spine_c15230.cozy_c15230 {
    display: ruby;
}

.avatar_ec86aa,
.avatarDecoration_ec86aa,
.timestampVisibleOnHover_ec86aa { /* Fix avatar, avatar decoration, timestamp position */
  margin-left: -4rem;
}
.repliedMessage_ec86aa:before{
    left: -2.5rem;
    width: 34px;
    border-top: 2px solid var(--background-accent);
    border-left: 2px solid var(--background-accent);
    position: absolute;
}

/*Mentioned*/
.mentioned_d5deea::before { /* Recreate mentioned style to have rounded corners */
  display: none;
}
.mentioned_d5deea {
  border: var(--cb-mentioned-indicator-width) solid var(--info-warning-foreground)!important;
  border-width: 2px!important;
}

/*Replying*/
.replying_d5deea::before { /* Recreate replying style to have rounded corners */
  display: none;
}
.replying_d5deea {
  border-left: var(--brand-experiment) 2px solid;
}

.replying_d5deea .avatar_ec86aa { /* Fix avatar indent when replying */
  margin-left: calc(-4.5rem - var(--cb-replying-indicator-width));
}

/*Threads*/
.container_c15230 {
  background: var(--background-secondary-alt);
  width: -webkit-fill-available;
  margin-top: unset;
}

.hasThread_ec86aa::after { /* Remove thread "arrow" */
  display: none;
}

/*Reactions*/
.reaction_f61c73 { /* Add background to reactions */
  background: var(--background-primary);
  border-color: hsla(0,calc(var(--saturation-factor, 1)*0%),100%,.2);
  margin-top: 5px;
}
.theme-light.reaction_f61c73 {
  border-color: hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.2);
}

.reactions_f61c73 { /* Fix reactions bottom margin */
  margin-bottom: -1px;
  padding-bottom: unset;
}
.reaction_f61c73 {
  margin-bottom: unset;
}

.reactionBtn_f61c73 { /* Fix add reaction button bottom margin */
  margin-bottom: unset;
}

/*Emoji*/
.emojiContainer_bae8cb {
  width: fit-content;
  height: fit-content;
}
.emoji {
  width: 21px;
  height: 21px;
}

/*Dividers*/
.divider_d5deea, .divider_fc5f50 { /* Fix dividers indents */
  position: relative;
  top: 0px !important;
  margin: 17px 0px !important;
}
/*Polls and Threads Backgrounds*/
.container_c15230, div[class*=pollContainer]{
    background: linear-gradient(var(--chat-bubble-code-background-color), var(--chat-bubble-code-background-color))!important;
}

/*Alt-text*/
.altText_cf58b5 { /* Fix alt-text indents */
  margin: 10px 0 0 0px;
}
.altText_cf58b5:empty {
  display: none;
}

/*Embeds*/
.container_b558d0 { /* Add gaps between embeds */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reaction_f61c73 { /* Fix reactions top margin */
  margin-top: unset;
}

.reactions_f61c73 { /* Fix reactions position */
  width: 100%;
}

/*Images*/
.imageWrapper__178ee {
  border-radius: 4px;
  overflow: hidden;
}
.imageContainer_cf58b5 + .altText_cf58b5 { /* Hide image details */
  display: none;
}

.messageAttachment__5dae1 .imageWrapper__178ee { /* Make images same width */
  max-width: 350px !important;
}

.messageAttachment__5dae1 {
  width: 100%;
}

/*Remove attachment buttons*/
.imageContainer_cf58b5 {
  position: relative;
}
.removeAttachmentButton__692b5 {
  z-index: 1;

  position: absolute;
  top: 4px;
  right: -4px;

  background: var(--background-primary);
  border-radius: 4px;
  width: 24px; height: 24px;
  box-shadow: -0.4px 0.4px 2px 0px rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate3d(0,-10px,0);
  transition: all .1s ease-in-out;
}

.groupStart_d5deea.cozyMessage_d5deea>.contents_ec86aa .markup_d6076c code,
.cozyMessage_d5deea:not(.groupStart_d5deea)>.contents_ec86aa>.markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *) code {
    background: linear-gradient(var(--chat-bubble-code-background-color), var(--chat-bubble-code-background-color));
    background-color: var(--background-secondary);
    background-size: calc(var(--chat-bubble) * 1px);
}

.markup_d6076c blockquote, .markup_d6076c pre {
    max-width: 100%;
}

.message_d5deea.selected_d5deea, .mouse-mode.full-motion .message_d5deea:hover {
    background: var(--bg-overlay-1,var(--background-message-hover))!important;
}

.wrapper_ef319f {
    background-color: var(--background-secondary)!important;
}

/*Code Blocks MD Bash and other*/
.markup_d6076c .codeActions_d6076c {
    opacity: 1;
    display: flex;
    border-radius: 5px;
    margin-right: -4px;
    padding: 10px 10px 6px 10px;
    margin-top: -8px;
    transition-duration: ;
    background: linear-gradient(var(--chat-bubble-code-background-color), var(--chat-bubble-code-background-color));
    background-color: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
}
.markup_d6076c .codeActions_d6076c:hover {
    opacity: 1;
    border-radius: 5px;
    background: var(--background-modifier-active);
}
.cozyMessage_d5deea:not(.groupStart_d5deea)>.contents_ec86aa>.markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *) .codeContainer_d6076c {
    padding-right: 50px!important;
}
.groupStart_d5deea.cozyMessage_d5deea.mentioned_d5deea .contents_ec86aa .codeContainer_d6076c  {
    padding-right: 50px!important;
}
.groupStart_d5deea.cozyMessage_d5deea>.contents_ec86aa .codeContainer_d6076c {
    padding-right: 50px!important;
}
.cozyMessage_d5deea:not(.groupStart_d5deea)>.contents_ec86aa>.markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *) .codeContainer_d6076c, .markup_d6076c .codeContainer_d6076c{
    padding-right: 55px;
}
/*Other Fixes*/
.container_d1c246 .container_b385c8 .reactions_f61c73 {
    width: auto;
}
.wrapper_ef319f {
    background-color: var(--background-secondary) !important;
    background: linear-gradient(var(--chat-bubble-code-background-color), var(--chat-bubble-code-background-color));
    border: 1px solid var(--background-tertiary);
}
.scrollerInner_e2e187 .container_b385c8{
    background-color: transparent;
}
.scrollerInner_e2e187 .container_b385c8 {
    box-shadow: none;
}

.group-spacing-16 .groupStart_d5deea {
    margin-top: 1rem!important;
}
.group-spacing-16 .groupStart_d5deea:hover {
    margin-top: 1rem!important;
}
/*Poll width Fix*/
[class*=pollContainer] {
    width: -webkit-fill-available!important;
}




/*Quick Fix*/
.repliedMessage_f9f2ca:before{
    border-color: var(--brand-500);
    left: -48px;
}
.hasThread_f9f2ca:after {
    border-left: 2px solid var(--brand-500)!important;
    border-bottom: 2px solid var(--brand-500)!important;
    border-bottom-left-radius: 8px;
    left: -35px!important;
    bottom: 39px!important;
}
.avatar_f9f2ca {
    left: -58px;
}
.avatarDecoration_f9f2ca{
    left: -60px;
}
.cozy_f9f2ca .timestamp_f9f2ca.alt_f9f2ca {
    left: -76px;
}
