/*=============================================
=                 Chat Bubbles                =
=============================================*/

:root {
  --cb-bubble-background: var(--channel-background); /* Message bubble background */
  --cb-bubble-corner-radius: 10px; /* Message bubble corner radius */

  --cb-mentioned-indicator-width: 2px; /* Width of left indicator line in messages with mention */
  --cb-replying-indicator-width: 2px; /* Width of left indicator line in message that you are replying */

  --chat-bubble: 1;

  --chat-bubble-border-color: var(--background-secondary-alt);
  --chat-bubble-code-background-color: var(--background-secondary-alt);

  --chat-bubble-box-shadow-h-offset: 0;
  --chat-bubble-box-shadow-v-offset: 4px;
  --chat-bubble-box-shadow-blur: 4px;
    
  --chat-bubble-box-shadow-color-h: 0;
  --chat-bubble-box-shadow-color-s: 0%;
  --chat-bubble-box-shadow-color-l: 0%;
  --chat-bubble-box-shadow-color-a: 0.16;
}

/*#region Message*/
.message_d5deea:not(.systemMessage_d5deea), .message_d5deea:not(.systemMessage_d5deea):hover {
  margin-left: 2.8rem;
  margin-top: .125rem;
  margin-bottom: .125rem;
  margin-right: 48px;
  width: fit-content;
  max-width: 100%;
  padding: 10px !important;
  border-radius: var(--cb-bubble-corner-radius);
  background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
  background-size: calc(var(--chat-bubble) * 1px);
  border: calc(1px * var(--chat-bubble)) solid var(--chat-bubble-border-color, var(--background-primary-border-color));
  box-shadow: var(--chat-bubble-box-shadow-h-offset) calc(var(--chat-bubble-box-shadow-v-offset) * var(--chat-bubble)) calc(var(--chat-bubble-box-shadow-blur) * var(--chat-bubble)) hsla(var(--chat-bubble-box-shadow-color-h), var(--chat-bubble-box-shadow-color-s), var(--chat-bubble-box-shadow-color-l), calc(var(--chat-bubble-box-shadow-color-a) * var(--chat-bubble)));
}
.message_d5deea:not(.systemMessage_d5deea) {
    background: var(--background-primary)!important;
}
.message_d5deea:not(.systemMessage_d5deea):hover {
    background: var(--background-secondary)!important;
}
.cozy_f9f2ca .contents_f9f2ca {
    margin-left: 5px!important;
}

div[class*=pollContainer] {
    max-width: 100%;
    min-width: fit-content;
    width: auto;
}

.avatar_ec86aa,
.avatarDecoration_ec86aa,
.timestampVisibleOnHover_ec86aa { /* Fix avatar, avatar decoration, timestamp position */
  margin-left: -4rem;
}
.repliedMessage_ec86aa:before{
    left: -2.5rem;
    width: 34px;
    border-top: 2px solid var(--background-accent);
    border-left: 2px solid var(--background-accent);
    position: absolute;
}

/*Mentioned*/
.mentioned_d5deea::before {
    display: ruby!important;
    width: 3px!important;
}
.message_d5deea:not(.systemMessage_d5deea).mentioned_d5deea {
    background: var(--background-mentioned)!important;
    border: calc(1px* var(--chat-bubble)) solid var(--background-mentioned)!important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.message_d5deea:not(.systemMessage_d5deea).mentioned_d5deea:hover {
    background: var(--background-mentioned-hover)!important;
    border: calc(1px* var(--chat-bubble)) solid var(--background-mentioned-hover)!important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.replying_d5deea .avatar_ec86aa { /* Fix avatar indent when replying */
  margin-left: calc(-4.5rem - var(--cb-replying-indicator-width));
}
/*Replying*/
.replying_d5deea:before {
    display: ruby !important;
    width: 3px !important;
}
.message_d5deea:not(.systemMessage_d5deea).replying_d5deea {
    background: var(--background-message-highlight)!important;
    border: calc(1px* var(--chat-bubble)) solid var(--background-message-highlight)!important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.message_d5deea:not(.systemMessage_d5deea).replying_d5deea:hover {
    background: var(--background-message-highlight-hover)!important;
    border: calc(1px* var(--chat-bubble)) solid var(--background-message-highlight-hover)!important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


/*Threads*/
.container_c15230 {
  background: var(--background-secondary-alt);
  width: -webkit-fill-available;
  margin-top: unset;
}

.hasThread_ec86aa::after { /* Remove thread "arrow" */
  display: none;
}

/*Reactions*/
.reaction_f61c73 { /* Add background to reactions */
  background: var(--background-primary);
  border-color: hsla(0,calc(var(--saturation-factor, 1)*0%),100%,.2);
  margin-top: 5px;
}
.theme-light.reaction_f61c73 {
  border-color: hsla(0,calc(var(--saturation-factor, 1)*0%),0%,.2);
}

.reactions_f61c73 { /* Fix reactions bottom margin */
  margin-bottom: -1px;
  padding-bottom: unset;
}
.reaction_f61c73 {
  margin-bottom: unset;
}

.reactionBtn_f61c73 { /* Fix add reaction button bottom margin */
  margin-bottom: unset;
}

/*Emoji*/
.emojiContainer_bae8cb {
  width: fit-content;
  height: fit-content;
}
.emoji {
  width: 21px;
  height: 21px;
}

/*Dividers*/
.divider_d5deea, .divider_fc5f50 { /* Fix dividers indents */
  position: relative;
  top: 0px !important;
  margin: 17px 0px !important;
}
/*Polls, Threads and Invite Backgrounds*/
.container_c15230, div[class*=pollContainer], .wrapper_b9fe76 {
    background: var(--background-tertiary) !important;
    border: calc(1px* var(--chat-bubble)) solid var(--background-message-highlight-hover)!important;
}

/*Alt-text*/
.altText_cf58b5 { /* Fix alt-text indents */
  margin: 10px 0 0 0px;
}
.altText_cf58b5:empty {
  display: none;
}

/*Embeds*/
.container_b558d0 { /* Add gaps between embeds */
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.reaction_f61c73 { /* Fix reactions top margin */
  margin-top: unset;
}

.reactions_f61c73 { /* Fix reactions position */
  width: 100%;
}

.embedFull_ad0b71{
  background: var(--background-tertiary) !important;
}
.embed_ad0b71 code {
    border: none;
    background: var(--bg-surface-overlay)!important;
}

/*Images*/
.imageWrapper__178ee {
  border-radius: 4px;
  overflow: hidden;
}
.imageContainer_cf58b5 + .altText_cf58b5 { /* Hide image details */
  display: none;
}

.messageAttachment__5dae1 .imageWrapper__178ee { /* Make images same width */
  max-width: 350px !important;
}

.messageAttachment__5dae1 {
  width: 100%;
}

/*Remove attachment buttons*/
.imageContainer_cf58b5 {
  position: relative;
}
.removeAttachmentButton__692b5 {
  z-index: 1;

  position: absolute;
  top: 4px;
  right: -4px;

  background: var(--background-primary);
  border-radius: 4px;
  width: 24px; height: 24px;
  box-shadow: -0.4px 0.4px 2px 0px rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate3d(0,-10px,0);
  transition: all .1s ease-in-out;
}

.groupStart_d5deea.cozyMessage_d5deea>.contents_ec86aa .markup_d6076c code,
.cozyMessage_d5deea:not(.groupStart_d5deea)>.contents_ec86aa>.markup_d6076c:not(:empty, .searchResultsWrap_c2b47d *) code {
    background: linear-gradient(var(--chat-bubble-code-background-color), var(--chat-bubble-code-background-color));
    background-color: var(--background-secondary);
    background-size: calc(var(--chat-bubble) * 1px);
}

.markup_d6076c blockquote, .markup_d6076c pre {
    max-width: 100%;
}


.wrapper_ef319f {
    background-color: var(--background-secondary)!important;
}



/*Code Blocks MD Bash and other*/
.markup_f8f345 .codeActions_f8f345 {
    opacity: 1;
    display: flex;
    border-radius: 5px;
    margin-right: -4px;
    padding: 10px 10px 6px 10px;
    margin-top: -8px;
    background: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
}
.markup_f8f345 .codeActions_f8f345:hover {
    opacity: 1;
    border-radius: 5px;
    background: var(--background-modifier-active);
}
.markup_f8f345 pre{
    max-width: 100%;
}
.cozyMessage_d5deea:not(.groupStart_d5deea)>.contents_f9f2ca>.markup_f8f345:not(:empty, .searchResultsWrap_c2b47d *) .codeContainer_f8f345 {
    padding-right: 46px!important;
}
.groupStart_d5deea.cozyMessage_d5deea.mentioned_d5deea .contents_f9f2ca .codeContainer_f8f345  {
    padding-right: 46px!important;
}
.groupStart_d5deea.cozyMessage_d5deea>.contents_f9f2ca .codeContainer_f8f345 {
    padding-right: 46px!important;
}
.cozyMessage_d5deea:not(.groupStart_d5deea)>.contents_f9f2ca>.markup_f8f345:not(:empty, .searchResultsWrap_c2b47d *) .codeContainer_f8f345, .markup_f8f345 .codeContainer_f8f345{
    padding-right: 62px;
}
/*Other Fixes*/
.container_d1c246 .container_b385c8 .reactions_f61c73 {
    width: auto;
}
.wrapper_ef319f {
    background-color: var(--background-secondary) !important;
    background: linear-gradient(var(--chat-bubble-code-background-color), var(--chat-bubble-code-background-color));
    border: 1px solid var(--background-tertiary);
    border-radius: var(--cb-bubble-corner-radius);
    box-shadow: var(--chat-bubble-box-shadow-h-offset) calc(var(--chat-bubble-box-shadow-v-offset)* var(--chat-bubble)) calc(var(--chat-bubble-box-shadow-blur)* var(--chat-bubble)) hsla(var(--chat-bubble-box-shadow-color-h), var(--chat-bubble-box-shadow-color-s), var(--chat-bubble-box-shadow-color-l), calc(var(--chat-bubble-box-shadow-color-a)* var(--chat-bubble)));
}
.inner_a3b500 {
    overflow: hidden;
}

.group-spacing-16 .groupStart_d5deea {
    margin-top: 1rem!important;
}
.group-spacing-16 .groupStart_d5deea:hover {
    margin-top: 1rem!important;
}
.messageListItem_d5deea {
    margin-top: 8px!important;
}
/*Poll width Fix*/
[class*=pollContainer] {
    width: -webkit-fill-available!important;
}

/*Quick Fix*/
.lookFilled_f6639d.select_f6639d{
    background: var(--background-secondary)!important;
}
.select_f49825{
    width: 100%;
}

.hasThread_f9f2ca:after {
    border-bottom-left-radius: 8px;
    top: 57px!important;
    left: -27px!important;
    bottom: 39px!important;
}
.avatar_f9f2ca {
    left: -46px!important;
    margin-top: 3px!important;
}
.avatarDecoration_f9f2ca{
    left: -50px!important;
}
.cozy_f9f2ca .timestamp_f9f2ca.alt_f9f2ca {
    left: -67px!important;
}
.theme-dark .message_d5deea.selected_d5deea, .theme-dark.mouse-mode.full-motion .message_d5deea:hover{
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
}

.theme-light .message_d5deea.selected_d5deea, .theme-light.mouse-mode.full-motion .message_d5deea:hover{
    background: linear-gradient(var(--chat-bubble-background-color, var(--background-primary)), var(--chat-bubble-background-color, var(--background-primary)));
}
