/*=============================================
=                    Fonts                    =
=============================================*/
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Patua+One&family=Roboto&display=swap');
* {
    --font-primary: "Noto Serif", serif !important;
    --font-display: "Noto Serif", serif !important;
    --font-headline: "Noto Serif", serif!important;
}

.text-sm\/medium_cf4812{
    font-size: 95%;
}






/* Private Channel shortcuts as Icons */
.avatarWithText__972a0.layout__20a53 .content__20a53{
  display: none!important;
}
.channel__972a0 .interactive_bf202d.interactive__972a0.linkButton__972a0 {
    display: inline-flex !important;
}
.channel__972a0 {
    display:contents!important;
}
.linkButtonIcon__972a0{
  margin-left: 2px!important;
  margin-top: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.interactive_bf202d.interactive__972a0.linkButton__972a0{
    background-color: transparent;
    margin-left: 8px!important;
}
.content__99f8c{
    height: fit-content !important;
    margin-bottom: 10px!important;
}
.friendsButtonContainer__35e86{
    width: 62px!important;
    display: inline-flex !important;
}
.channel__972a0 .interactive_bf202d.interactive__972a0.linkButton__972a0 {
    width: 54px!important;
    display: inline-flex!important;
    background: var(--input-border)!important;
    border-radius: var(--radius-sm) !important;
    border: 1px solid var(--input-border) !important;
    height: 36px!important;
}
.newChannel__599fa{
    display: none;
}

/*Pinned Messages*/
.messageGroupWrapper__45690 .messageGroupCozy__45690 .messageSpine_c19a55:before{
    left: -24px!important;
    width: 28px!important;
}
.messageGroupWrapper__45690 .messageGroupCozy__45690 .avatar_c19a55{
    left: 26px!important;
}
/*Folders*/
.expandedFolderBackground__48112 {
    margin-top: 0px !important;
}
.listItem__650eb{
    margin-bottom: 8px;
}
.expandedFolderBackground__48112.collapsed__48112{
    background: transparent!important;
}
.theme-light .expandedFolderBackground__48112, .theme-light .folder__48112{
    background: var(--bg-surface-raised)!important;
}
.theme-dark .expandedFolderBackground__48112, .theme-dark .folder__48112{
    background: var(--bg-surface-raised)!important;
}
.theme-darker .expandedFolderBackground__48112, .theme-darker .folder__48112{
    background: var(--bg-surface-raised)!important;
}
.theme-midnight .expandedFolderBackground__48112, .theme-midnight .folder__48112{
    background: var(--background-secondary)!important;
}
