/*=============================================
=                                             =
=                 Inbox Layout                =
=                                             =
=============================================*/

/*Shop Button*/
.marketingButtonBackground_a25714{
    display: none;
}
.channel_c91bad .interactive_f5eb4b.interactive_c91bad.linkButton_c91bad .newBadge_a25714{
    display: none;
}
/*Shop and Nitro page*/
.scroller_a8b566, .shop_ebba41{
    background: var(--bg-overlay-chat,var(--bg-base-primary));
}
.searchBar_f0963d{
    height: 48px!important;
}
.header_fd6364{
    height: 48px!important;
}
/*Private Call Background*/
.wrapper_d880dc.minimum_d880dc {
    background: var(--background-tertiary)!important;
}

.flex_dc333f.horizontal_dc333f.justifyEnd_ec1a20.alignStretch_ec1a20.noWrap_ec1a20{
    padding-top: 10px;
}
