
/*=============================================
=                                             =
=                 Inbox Layout                =
=                                             =
=============================================*/

/*Shop Button*/
.marketingButtonBackground__4ed1a{
    display: none;
}
.channel__972a0 .interactive_bf202d.interactive__972a0.linkButton__972a0 .newBadge__4ed1a{
    display: none;
}
/*Shop and Nitro page*/
.scroller_c880e8, .shop__08415{
    background: var(--bg-overlay-chat,var(--bg-base-primary));
}
.searchBar__35e86{
    height: 48px!important;
}
.header_f37cb1{
    height: 48px!important;
}
/*Private Call Background*/
.wrapper_cb9592.minimum_cb9592 {
    background: var(--background-tertiary)!important;
}

.flex__7c0ba.horizontal__7c0ba.justifyEnd_abf706.alignStretch_abf706.noWrap_abf706{
    padding-top: 10px;
}
