
/*=============================================
=                  Main Theme                 =
=============================================*/

@import url('https://krazytrain.github.io/Theme/Main Theme/Channel Text.css');
@import url('https://krazytrain.github.io/Theme/Main Theme/Fix Nitro Colors.css');
@import url('https://krazytrain.github.io/Theme/Main Theme/Forums Layout.css');
@import url('https://krazytrain.github.io/Theme/Main Theme/Hide Buttons.css');
@import url('https://krazytrain.github.io/Theme/Main Theme/NSFW TAG.css');
@import url('https://krazytrain.github.io/Theme/Main Theme/Other Settings.css');
@import url('https://krazytrain.github.io/Theme/Main Theme/Reactions and Emojis.css');
@import url('https://krazytrain.github.io/Theme/Main Theme/Settings Popout Layout.css');
@import url('https://krazytrain.github.io/Theme/Main Theme/Spotify Layout.css');
@import url('https://krazytrain.github.io/Theme/Main Theme/User Info.css');



/*=============================================
=        Channel and Member background        =
=============================================*/

/*---------- Settings  ----------*/

@import url('https://krazytrain.github.io/Theme/Main Theme/Channel.css');
@import url('https://krazytrain.github.io/Theme/Main Theme/Member List.css');
:root {
  --channel-border-radius:10px; /* Rounding */
  --channel-background: var(--background-tertiary); /* channel color */
  --channel-title-background: var(--background-tertiary); /* title color */
  --ML-border-radius:10px; /* Rounding */
  --ML-member-background: var(--background-tertiary); /* member color */
  --ML-role-background: var(--background-tertiary); /* role color */
}
