/*=============================================
=               Other Settings                =
=============================================*/

/* Any custom CSS below here */
.themedBackground_d0696b, .channelTextArea_a7d72e {
    background-color: var(--bg-overlay-3,var(--background-secondary));
}

.vc-settings-quick-actions-card {
    gap: 0em;
}

.container_d1c246 .chatContent_a7d72e {
    background-image: url(https://discord.com/assets/68691bc….svg);
    background-size: contain!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-blend-mode: darken;
}

/*Status Box*/
.userProfileOuter_c69a7b .statusBubbleOuter_d0a252{
    border-radius:12px;
    border:1px solid #000}
.userProfileOuter_c69a7b .statusBubbleOuter_d0a252::before{
    border:1px solid #000;
    border-radius:0;
    inset:unset;
    height:6px;
    width:12px;
    top:10px;
    transform:skewX(60deg);
    left:-6px}
.statusBubble_d0a252{
    border-radius:10px;
    padding:6px}
.content_d0a252{
    color:#000}
.userProfileOuter_c69a7b .statusBubbleOuter_d0a252::after{
    display:none}


.custom-profile-theme .statusBubble_d0a252, .custom-profile-theme .statusBubbleOuter_d0a252, .custom-profile-theme .statusBubbleOuter_d0a252:before, .custom-profile-theme .statusBubbleOuter_d0a252:after {
    background-color: var(--background-secondary)!important;
}
.statusBubbleOuter_d0a252:before {
    background-color: var(--custom-status-bubble-background)!important;
}
.statusBubble_d0a252 {
    background-color: var(--custom-status-bubble-background)!important;
}
/*Nitro Themes Remove Color*/
* {
    --profile-gradient-primary-color: var(--background-tertiary)!important;
    --profile-gradient-secondary-color: var(--background-tertiary)!important;
    --profile-gradient-overlay-color: transparent!important;
    --profile-gradient-button-color: var(--button-secondary-background)!important;
    --profile-avatar-border-color: var(--background-tertiary)!important;
    --profile-message-input-border-color: var(--background-modifier-accent)!important;
    --profile-body-background-color: var(--background-floating)!important;
    --profile-body-background-hover: var(--background-modifier-hover)!important;
    --profile-body-divider-color: var(--background-modifier-accent)!important;
    --profile-role-pill-background-color: var(--primary-500-hsl)!important;
    --profile-role-pill-border-color: var(--border-faint)!important;
}


.custom-profile-theme .statusBubble_d0a252, .custom-profile-theme .statusBubbleOuter_d0a252, .custom-profile-theme .statusBubbleOuter_d0a252:before, .custom-profile-theme .statusBubbleOuter_d0a252:after {
    background-color: var(--bg-overlay-3,var(--background-secondary));
}
.statusBubble_d0a252 {
    background-color: var(--bg-overlay-3,var(--background-secondary));
}
.statusBubbleOuter_d0a252:before {
    background-color: var(--bg-overlay-3,var(--background-secondary));
}

/*Discord Bot Tags that they messed up*/
.px_a9e77f .botText_a9e77f {
    line-height: 16px;
}

/*Members in voice channel*/
.listDefault_d80634{
    margin-left: -30px!important;
}

/*Fix Favorites Icons*/
.iconContainer_d8bfb3 .wrapper_c51b4e {
    margin-right: 10px;
    padding-bottom: 4px;
}
#app-mount .iconContainer_d8bfb3 .wrapper_c51b4e foreignObject{
    width: 25px!important;
    height: 25px!important;
}


/*Fix Message Viewer*/
.messageGroupWrapper_ac90a2 .messageGroupCozy_ac90a2{
    margin-left: 55px;
}
.messageGroupWrapper_ac90a2 .messageGroupCozy_ac90a2 .repliedMessage_f9f2ca:before{
    margin-left: 8px;
}
.searchResult_ddc613 .repliedMessage_f9f2ca:before{
    margin-left: 8px;
}

.searchResult_ddc613 .contents_f9f2ca .avatar_f9f2ca{
    margin-left: 72px;
}

/*Message Forward*/
.wrapper_f9f2ca .container_b558d0 .avatar_f9f2ca {
    left: 16px !important;
    margin-top: -6px !important;
}
.wrapper_f9f2ca .container_b558d0 .avatarDecoration_f9f2ca{
    left: 12px !important;
    margin-top: -8px !important;
}
