/*=============================================
=                 Chat Status                 =
=============================================*/

/*Chat Status*/

.avatar_c19a55 {
    left: -51px !important;
}
.avatarDecoration_c19a55{
    margin-left: -18px!important;
}

.contents_c19a55 .avatar_c19a55 {
    border: 4px solid transparent;
    box-shadow: 0 0 0 2px #747f8d!important;
}
.contents_c19a55 .vc-platform-indicator>svg {
    display: none!important;
}
.contents_c19a55:has(.vc-platform-indicator>[fill="#80848e"]) .avatar_c19a55 {
    box-shadow: 0 0 0 2.5px #80848e!important;
}
.contents_c19a55:has(.vc-platform-indicator>[fill="#23a55a"]) .avatar_c19a55 {
    box-shadow: 0 0 0 2.5px #23a55a!important;
}
.contents_c19a55:has(.vc-platform-indicator>[fill="#f0b232"]) .avatar_c19a55 {
    box-shadow: 0 0 0 2.5px #f0b232!important;
}
.contents_c19a55:has(.vc-platform-indicator>[fill="#f23f43"]) .avatar_c19a55 {
    box-shadow: 0 0 0 2.5px #f23f43!important;
}

.contents_c19a55:has([aria-label="Verified App"]) .avatar_c19a55 {
    box-shadow: 0 0 0 2.5px #23a55a!important;
}
.avatarDecoration_c19a55{
    margin-top: -6px !important;
    margin-left: -18px!important;

}
