
/*=============================================
=                Spotify Theme                =
=============================================*/

/*Spotify Fix*/
.panels_a4d4d9 {
    display: flex;
    flex-direction: column;
}
#vc-spotify-player {
    order: -1;
}
#vc-spotify-player {
    margin-top: 0px;
    margin-bottom: 0px;
    background: var(--background-secondary) ;
}
.vc-spotify-progress-time {
    top: 12px !important;
}

/* Spotify panel */
.vc-spotify-button-row {
  padding: 0;
  margin-top: 10px;
  justify-content: left !important;
}
.vc-spotify-button-row button {
  width: 50px;
  background: var(--bg-overlay-4, var(--background-primary));
  margin-right: 8px;
  border-radius: 5px;
}
.vc-spotify-button-row button:last-child {
  margin-right: 0;
}
.vc-spotify-button-row button:hover {
  background: var(--bg-overlay-4, var(--background-secondary)) !important;
}