/*=============================================
=                Radial Status                =
=============================================*/

:root {
  --rs-version: "2.0.9";

  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 3px;
  --rs-avatar-shape: 50%;
  --rs-phone-visible: block;
}

#app-mount .wrapper_c51b4e {
  border-radius: var(--rs-avatar-shape);
}
#app-mount .wrapper_c51b4e svg:not(:root) {
  overflow: visible;
  contain: none;
}
#app-mount .wrapper_c51b4e foreignObject {
  -webkit-mask: none;
          mask: none;
}
#app-mount .wrapper_c51b4e .dots_ce0450 circle {
  cy: -8 !important;
}
#app-mount .wrapper_c51b4e .dots_ce0450 circle:nth-child(1) {
  cx: -8.5 !important;
}
#app-mount .wrapper_c51b4e .dots_ce0450 circle:nth-child(2) {
  cx: -2.25 !important;
}
#app-mount .wrapper_c51b4e .dots_ce0450 circle:nth-child(3) {
  cx: 4 !important;
}
#app-mount .wrapper_c51b4e .mask_c51b4e > rect[x="22"] {
  x: 0;
  y: 0;
}
#app-mount .wrapper_c51b4e .mask_c51b4e > circle {
  opacity: 0 !important;
  width: 100%;
  height: 100%;
  cx: 43%;
  cy: 20;
}
#app-mount .wrapper_c51b4e .pointerEvents_c51b4e[x="14.5"] {
  fill: rgba(0, 0, 0, 0.5) !important;
  width: 30px;
  height: 30px;
  x: 1;
  y: 1;
}
#app-mount .wrapper_c51b4e img, #app-mount .wrapper_c51b4e.avatar_d808b0 {
  border-radius: var(--rs-avatar-shape);
}
#app-mount .wrapper_c51b4e svg[width="25"][height="15"] > rect {
  rx: calc(var(--rs-avatar-shape) * 2) !important;
  ry: calc(var(--rs-avatar-shape) * 2) !important;
}
#app-mount .wrapper_c51b4e[style*="80px"] svg.cursorDefault_c51b4e rect, #app-mount .wrapper_c51b4e[style*="120px"] svg.cursorDefault_c51b4e rect {
  ry: calc(var(--rs-avatar-shape) * 3.3);
  rx: calc(var(--rs-avatar-shape) * 3.3);
}
#app-mount .wrapper_c51b4e rect {
  x: 0;
  y: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: none;
          mask: none;
  display: block;
  rx: var(--rs-avatar-shape);
  ry: var(--rs-avatar-shape);
  fill: transparent !important;
  stroke-width: var(--rs-small-width);
}
#app-mount .wrapper_c51b4e rect[fill="#43b581"], #app-mount .wrapper_c51b4e rect[fill="#3ba55c"], #app-mount .wrapper_c51b4e rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper_c51b4e rect[mask*=online], #app-mount .wrapper_c51b4e rect[fill*="hsl(139"], #app-mount .wrapper_c51b4e rect[fill*="var(--status-green"], #app-mount .wrapper_c51b4e rect[fill="#23a55a"] {
  stroke: var(--online-indicator);
}
#app-mount .wrapper_c51b4e rect[fill="#faa61a"], #app-mount .wrapper_c51b4e rect[fill="rgba(250, 166, 26, 1)"], #app-mount .wrapper_c51b4e rect[mask*=idle], #app-mount .wrapper_c51b4e rect[fill*="hsl(38"], #app-mount .wrapper_c51b4e rect[fill*="var(--status-yellow"], #app-mount .wrapper_c51b4e rect[fill="#f0b232"] {
  stroke: var(--idle-indicator);
}
#app-mount .wrapper_c51b4e rect[fill="#f04747"], #app-mount .wrapper_c51b4e rect[fill="rgba(240, 71, 71, 1)"], #app-mount .wrapper_c51b4e rect[fill="#ed4245"], #app-mount .wrapper_c51b4e rect[mask*=dnd], #app-mount .wrapper_c51b4e rect[fill*="hsl(359"], #app-mount .wrapper_c51b4e rect[fill*="var(--status-red"], #app-mount .wrapper_c51b4e rect[fill="#f23f43"] {
  stroke: var(--dnd-indicator);
}
#app-mount .wrapper_c51b4e rect[fill="#593695"], #app-mount .wrapper_c51b4e rect[mask*=streaming], #app-mount .wrapper_c51b4e rect[fill*="var(--status-purple"] {
  stroke: var(--streaming-indicator);
}
#app-mount .wrapper_c51b4e rect[fill="#747f8d"], #app-mount .wrapper_c51b4e rect[mask*=offline], #app-mount .wrapper_c51b4e rect[fill="#80848e"], #app-mount .wrapper_c51b4e rect[fill=NaN] {
  stroke: var(--offline-indicator);
}
#app-mount .wrapper_c51b4e rect[fill="#747f8d"], #app-mount .wrapper_c51b4e rect[mask*=invisible], #app-mount .wrapper_c51b4e rect[fill="rgba(116, 127, 141, 1)"], #app-mount .wrapper_c51b4e rect[fill*="hsl(214"], #app-mount .wrapper_c51b4e rect[fill="var(--status-grey-500)"], #app-mount .wrapper_c51b4e rect[fill="#82858f"] {
  stroke: var(--offline-indicator);
}
#app-mount .wrapper_c51b4e rect[x="16"] {
  width: 24px;
  height: 24px;
}
#app-mount .wrapper_c51b4e rect[x="28"] {
  width: 40px;
  height: 40px;
  overflow: visible;
}
#app-mount .wrapper_c51b4e[style*="32px"] rect {
  width: 32px;
  height: 32px;
  x: -14.5;
  y: -17;
  position: relative;
  z-index: 0;
}
#app-mount .wrapper_c51b4e[style*="40px"] > svg > svg rect {
  width: 40px;
  height: 40px;
  x: -19;
  y: -20;
  ry: calc(var(--rs-avatar-shape) * 3.3);
  rx: calc(var(--rs-avatar-shape) * 3.3);
}
#app-mount .wrapper_c51b4e[style*="40px"] foreignObject[mask*=mobile] img {
  width: calc(100% - 12px);
}
#app-mount .wrapper_c51b4e[style*="80px"] svg.cursorDefault_c51b4e rect {
  x: -48;
  y: -52;
}
#app-mount .wrapper_c51b4e[style*="80px"] rect {
  width: 80px;
  height: 80px;
  stroke-width: var(--rs-medium-width);
}
#app-mount .wrapper_c51b4e[style*="80px"] img {
  -webkit-clip-path: inset(calc(var(--rs-medium-spacing) + 1px) calc(var(--rs-medium-spacing) + 1px) round var(--rs-avatar-shape));
          clip-path: inset(calc(var(--rs-medium-spacing) + 1px) calc(var(--rs-medium-spacing) + 1px) round var(--rs-avatar-shape));
}
#app-mount .wrapper_c51b4e[style*="120px"] svg.cursorDefault_c51b4e rect {
  x: -70;
  y: -76;
}
#app-mount .wrapper_c51b4e[style*="120px"] rect {
  width: 120px;
  height: 120px;
  stroke-width: var(--rs-large-width);
  pointer-events: none;
}
#app-mount .wrapper_c51b4e[style*="120px"] img {
  -webkit-clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
          clip-path: inset(calc(var(--rs-large-spacing) + 1px) calc(var(--rs-large-spacing) + 1px) round var(--rs-avatar-shape));
}
#app-mount .wrapper_c51b4e:not([style*="80px;"], [style*="120px;"], [style*="16px"]) > svg > foreignObject:not(:only-child) img {
  -webkit-clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
          clip-path: inset(calc(var(--rs-small-spacing) + 1px) calc(var(--rs-small-spacing) + 1px) round var(--rs-avatar-shape));
}
#app-mount .wrapper_c51b4e[style="width: 16px; height: 16px;"] rect {
  display: none;
}
#app-mount .wrapper_c51b4e[style="width: 16px; height: 16px;"] img {
  -webkit-clip-path: none;
          clip-path: none;
}
#app-mount .wrapper_c51b4e foreignObject[mask*=mobile] {
  width: calc(100% + 4px);
}
#app-mount .wrapper_c51b4e foreignObject[mask*=mobile][width="32"] img {
  width: calc(100% - 12px);
}
#app-mount .wrapper_c51b4e foreignObject[mask*=mobile][width="80"] img {
  width: calc(100% - 16px);
}
#app-mount .wrapper_c51b4e foreignObject[mask*=mobile][width="80"]:after {
  width: 14px;
  height: 18px;
  top: 75%;
}
#app-mount .wrapper_c51b4e foreignObject[mask*=mobile][width="120"] img {
  width: calc(100% - 22px);
}
#app-mount .wrapper_c51b4e foreignObject[mask*=mobile][width="120"]:after {
  width: 24px;
  height: 20px;
  top: 75%;
}
#app-mount .wrapper_c51b4e foreignObject[mask*=mobile]:after {
  display: none;
}
#app-mount .wrapper_c51b4e foreignObject[mask*=mobile] + rect {
  stroke: var(--rs-phone-color, var(--online-indicator));
}
#app-mount .avatarStack_c51b4e {
  position: relative;
}
/*Fix color speaking*/
#app-mount .avatarSpeaking_c51b4e {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: var(--rs-avatar-shape);
    box-shadow: inset 0 0 0 2px var(--online-indicator), inset 0 0 0 1px var(--background-secondary)!important;
}
#app-mount .message_d5deea .wrapper_c51b4e foreignObject[mask*=mobile] {
  width: calc(100% + 3px);
}
#app-mount .message_d5deea .wrapper_c51b4e rect[mask*=typing] {
  width: calc(100% - 9px);
}
#app-mount .avatarHint_f89da9 foreignObject {
  -webkit-mask: none;
          mask: none;
}
#app-mount .avatarHintInner_f89da9 {
  border-radius: var(--rs-avatar-shape) !important;
  padding-top: 0;
  width: calc(100% - var(--rs-medium-width) - var(--rs-medium-spacing) + 2px);
  height: calc(100% - var(--rs-medium-width) - var(--rs-medium-spacing) + 2px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}
#app-mount .memberOffline-2lN7gt img {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}
#app-mount .offline_a31c43 img {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}
#app-mount .avatarWrapperNonUserBot_f89da9 .wrapper_c51b4e img {
  -webkit-clip-path: none !important;
          clip-path: none !important;
}
#app-mount .userInfo_f3939d .wrapper_c51b4e {
  margin-top: 1px;
  margin-left: 1px;
}
#app-mount .info_c5a741 .line_c5a741:last-child:after {
  content: "RadialStatus " var(--rs-version);
  display: block;
}
#app-mount .memberNameContainer_d936aa .wrapper_c51b4e rect[mask*=offline], 
#app-mount .memberNameContainer_d936aa .wrapper_c51b4e rect[mask*=online],
#app-mount .memberNameContainer_d936aa .wrapper_c51b4e rect[mask*=idle],
#app-mount .memberNameContainer_d936aa .wrapper_c51b4e rect[mask*=dnd] {
    height: 48px;
    width: 48px;
}

#app-mount .wrapper_c51b4e .avatarDecoration_c51b4e foreignObject[mask*=mobile]  {
    scale: 85%;
}
#app-mount .container_fc4f04 .wrapper_c51b4e foreignObject[mask*=mobile] {
    width: 24px;
}

/*Fix Favorites Icons*/
.iconContainer_d8bfb3 .wrapper_c51b4e {
    margin-right: 10px;
    padding-bottom: 4px;
}
#app-mount .iconContainer_d8bfb3 .wrapper_c51b4e foreignObject{
    width: 25px!important;
    height: 25px!important;
}


/*Chat Status*/

.avatar_f9f2ca {
    left: -51px !important;
}
.avatarDecoration_f9f2ca{
    margin-left: -18px!important;
}

.contents_f9f2ca .avatar_f9f2ca {
    border: 4px solid transparent;
    box-shadow: 0 0 0 2px #747f8d!important;
}
.contents_f9f2ca .vc-platform-indicator>svg {
    display: none!important;
}
.contents_f9f2ca:has(.vc-platform-indicator>[fill="#80848e"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px #80848e!important;
}
.contents_f9f2ca:has(.vc-platform-indicator>[fill="#23a55a"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px #23a55a!important;
}
.contents_f9f2ca:has(.vc-platform-indicator>[fill="#f0b232"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px #f0b232!important;
}
.contents_f9f2ca:has(.vc-platform-indicator>[fill="#f23f43"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px #f23f43!important;
}

.contents_f9f2ca:has([aria-label="Verified App"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px #23a55a!important;
}
.avatarDecoration_f9f2ca{
    margin-top: -6px !important;
    margin-left: -18px!important;

}






/*Chat Status*/
.avatar_f9f2ca {
    left: 12px !important;
}
.avatarDecoration_f9f2ca{
    margin-left: -18px!important;
}

.contents_f9f2ca .avatar_f9f2ca {
    border: 4px solid transparent;
    box-shadow: 0 0 0 2px var(--offline-indicator)!important;
}
.contents_f9f2ca .vc-platform-indicator>svg {
    display: none!important;
}
.contents_f9f2ca:has(.vc-platform-indicator>[fill="#80848e"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px var(--offline-indicator)!important;
}
.contents_f9f2ca:has(.vc-platform-indicator>[fill="#23a55a"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px var(--online-indicator)!important;
}
.contents_f9f2ca:has(.vc-platform-indicator>[fill="#f0b232"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px var(--idle-indicator)!important;
}
.contents_f9f2ca:has(.vc-platform-indicator>[fill="#f23f43"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px var(--dnd-indicator)!important;
}

.contents_f9f2ca:has([aria-label="Verified App"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px var(--online-indicator)!important;
}
.avatarDecoration_f9f2ca{
    margin-top: 2px !important;
    margin-left: 0px!important;

}
