
/*=============================================
=        Channel and Member background        =
=============================================*/

/*---------- Settings  ----------*/

@import url(https://krazytrain.github.io/Theme/Addons/Channel+Member List/Channel.css);
@import url(https://krazytrain.github.io/Theme/Addons/Channel+Member List/Member List.css);
:root {
  --channel-border-radius:10px; /* Rounding */
  --channel-background: var(--background-tertiary); /* channel color */
  --channel-title-background: var(--background-tertiary); /* title color */
  --ML-border-radius:10px; /* Rounding */
  --ML-member-background: var(--background-tertiary); /* member color */
  --ML-role-background: var(--background-tertiary); /* role color */
}
