/*=============================================
=                    Fonts                    =
=============================================*/
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Patua+One&family=Roboto&display=swap');

* {
    --font-primary: "Noto Serif", serif !important;
    --font-display: "Noto Serif", serif !important;
    --font-headline: "Noto Serif", serif!important;
}

.text-sm\/medium_dc00ef{
    font-size: 95%;
}

