/*=============================================
=                 Chat Status                 =
=============================================*/
:root {
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 3px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}
/*Chat Status*/

.avatar_f9f2ca {
    left: 12px !important;
    margin-top: -2px;
    scale: 100%;
}
.avatarDecoration_f9f2ca{
    margin-left: -18px!important;
}

.contents_f9f2ca .avatar_f9f2ca {
    border: 4px solid transparent;
    box-shadow: 0 0 0 2px #747f8d!important;
}
.contents_f9f2ca .vc-platform-indicator>svg {
    display: none!important;
}
.contents_f9f2ca:has(.vc-platform-indicator>[fill="#80848e"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px #80848e!important;
}
.contents_f9f2ca:has(.vc-platform-indicator>[fill="#23a55a"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px var(--accent-2)!important;
}
.contents_f9f2ca:has(.vc-platform-indicator>[fill="#f0b232"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px hsl(50, 60%, 60%)!important;
}
.contents_f9f2ca:has(.vc-platform-indicator>[fill="#f23f43"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px hsl(340, 60%, 60%)!important;
}

.contents_f9f2ca:has([aria-label="Verified App"]) .avatar_f9f2ca {
    box-shadow: 0 0 0 2.5px var(--accent-2)!important;
}
.avatarDecoration_f9f2ca{
    margin-top: -2.5px !important;
    margin-left: -0.7px!important;
}



