/*=============================================
=                                             =
=                 Inbox Layout                =
=                                             =
=============================================*/
/* Private Channel shortcuts as Icons */
.avatarWithText_c91bad.layout_ec8679 .content_ec8679{
  display: none;
}
.channel_c91bad .interactive_f5eb4b.interactive_c91bad.linkButton_c91bad {
    width: 52px;
    display: inline-flex ;
}
.channel_c91bad {
    display:contents;
}
.linkButtonIcon_c91bad{
  margin-left: 2px;
  margin-top: 0px;
  scale: 1.2;
}
.interactive_f5eb4b.interactive_c91bad.linkButton_c91bad{
    background-color: transparent;
    margin-left: 6px;
}
.content_eed6a8{
    height: fit-content !important;
    margin-bottom: 10px;
}
.friendsButtonContainer_f0963d{
    width: 52px;
    display: inline-flex ;
}
.channel_c91bad .interactive_f5eb4b.interactive_c91bad.linkButton_c91bad {
    width: 58px;
    display: inline-flex;
    background: none!important;
}

/*Shop Button*/
.marketingButtonBackground_a25714{
    display: none;
}
.channel_c91bad .interactive_f5eb4b.interactive_c91bad.linkButton_c91bad .newBadge_a25714{
    display: none;
}
/*Shop and Nitro page*/
.scroller_a8b566, .shop_ebba41{
    background: var(--bg-overlay-chat,var(--bg-base-primary));
}
.searchBar_f0963d{
    height: 48px!important;
}
.header_fd6364{
    height: 48px!important;
}
/*Private Call Background*/
.wrapper_d880dc.minimum_d880dc {
    background: var(--background-tertiary)!important;
}

.flex_dc333f.horizontal_dc333f.justifyEnd_ec1a20.alignStretch_ec1a20.noWrap_ec1a20{
    padding-top: 10px;
}
