/*=============================================
=                                             =
=                 Inbox Layout                =
=                                             =
=============================================*/
/* Private Channel shortcuts as Icons */
.avatarWithText__972a0.layout__20a53 .content__20a53{
  display: none;
}
.channel__972a0 .interactive_bf202d.interactive__972a0.linkButton__972a0 {
    width: 56px;
    display: inline-flex ;
}
.channel__972a0 {
    display:contents;
}
.linkButtonIcon__972a0{
  margin-left: 2px;
  margin-top: 0px;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  scale: 1.0;
}
.interactive_bf202d.interactive__972a0.linkButton__972a0{
    background-color: transparent;
    margin-left: 8px;
}
.content__99f8c{
    height: fit-content !important;
    margin-bottom: 10px;
}
.friendsButtonContainer__35e86{
    width: 62px;
    display: inline-flex ;
}
.channel__972a0 .interactive_bf202d.interactive__972a0.linkButton__972a0 {
    width: 54px;
    display: inline-flex;
    background: var(--input-border)!important;
    border-radius: var(--radius-sm) !important;
    border: 1px solid var(--input-border) !important;
    height: 36px;
}

/*Shop Button*/
.marketingButtonBackground__4ed1a{
    display: none;
}
.channel__972a0 .interactive_bf202d.interactive__972a0.linkButton__972a0 .newBadge__4ed1a{
    display: none;
}
/*Shop and Nitro page*/
.scroller_c880e8, .shop__08415{
    background: var(--bg-overlay-chat,var(--bg-base-primary));
}
.searchBar__35e86{
    height: 48px!important;
}
.header_f37cb1{
    height: 48px!important;
}
/*Private Call Background*/
.wrapper_cb9592.minimum_cb9592 {
    background: var(--background-tertiary)!important;
}

.flex__7c0ba.horizontal__7c0ba.justifyEnd_abf706.alignStretch_abf706.noWrap_abf706{
    padding-top: 10px;
}

.theme-light :where(.visual-refresh) .menu_c1e9c4{
    background-color: var(--background-floating);
}
