/*=============================================
=                  Theme Info                 =
=============================================*/

.wordmarkWindows_a934d8{
    left: -100px!important;
}
.wordmarkWindows_a934d8:before {
    content: 'Default Look New';
    position: absolute;
    top: 20px;
    left: 100px;
    color: var(--text-muted);
    display: block;
    height: 16px;
    width: 300px;
    pointer-events: none;
    padding: 4px 9px 3px;
    letter-spacing: 0.015em!important;
    line-height: 16px;
    font-size: 14px;
    font-weight: 800;
} 
.visual-refresh.platform-win .sidebar_b66418, .visual-refresh.platform-win .sidebar_b66418[data-sidebar-collapsed=true] {
    margin-left: 10px!important;
}
.platform-win .bg_d4b6c5, .custom-theme-background .platform-win .bg_d4b6c5 {
    top: -40px!important;
}
.custom-theme-background .withBackgroundOverride_a934d8.typeWindows_a934d8 {
    margin-top: 0!important;
    padding-top: 0px!important;
    background: none;
}

.visual-refresh .winButtons_a934d8, .visual-refresh .custom-theme-background .winButtons_a934d8{
    margin-top: 40px!important;
}
.visual-refresh .bar_b66418, .visual-refresh .custom-theme-background .bar_b66418{
    margin-top: 22px!important;
    right: 80px!important;
}
.bar_b66418, .base_a4d4d9, .custom-theme-background.bar_b66418, .custom-theme-background.base_a4d4d9{
    margin-top: 0px!important;
}
.visual-refresh .typeWindows_a934d8, .visual-refresh .custom-theme-background.typeWindows_a934d8{
    height: 0px!important;
    margin-top: 0px!important;
}
.notice_e2ecbf, .notice_a50047, .notice_be03aa{
    margin-top: 40px;
    margin-bottom: -40px;
    border-radius: 0;
}
