/*=============================================
=                  Theme Info                 =
=============================================*/

.wordmarkWindows__421ed{
    left: -100px!important;
}
.wordmarkWindows__421ed:before {
    content: 'Default Look New';
    position: absolute;
    top: 20px;
    left: 100px;
    color: var(--text-muted);
    display: block;
    height: 16px;
    width: 300px;
    pointer-events: none;
    padding: 4px 9px 3px;
    letter-spacing: 0.015em!important;
    line-height: 16px;
    font-size: 14px;
    font-weight: 800;
} 
.visual-refresh.platform-win .sidebar_b66418, .visual-refresh.platform-win .sidebar_b66418[data-sidebar-collapsed=true] {
    margin-left: 10px!important;
}
.platform-win .bg__960e4, .custom-theme-background .platform-win .bg__960e4 {
    top: -40px!important;
}
.custom-theme-background .withBackgroundOverride__421ed.typeWindows__421ed {
    margin-top: 0!important;
    padding-top: 0px!important;
    background: none;
}

.visual-refresh .winButtons_a934d8, .visual-refresh .custom-theme-background .winButtons_a934d8{
    margin-top: 40px!important;
}
.visual-refresh .bar_b66418, .visual-refresh .custom-theme-background .bar_b66418{
    margin-top: 22px!important;
    right: 80px!important;
}
.visual-refresh.platform-win .right_b66418{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 50px;
}
.bar_b66418, .base_c48ade, .custom-theme-background.bar_b66418, .custom-theme-background.base_c48ade{
    margin-top: 0px!important;
}
.visual-refresh .typeWindows__421ed, .visual-refresh .custom-theme-background.typeWindows__421ed{
    height: 0px!important;
    margin-top: 0px!important;
}
.notice_c9e42f, .notice__30f28, .notice__6e2b9{
    margin-top: 40px;
    margin-bottom: -40px;
    border-radius: 0;
}
