/*=============================================
=                  Theme Info                 =
=============================================*/

.wordmarkWindows_a934d8{
    left: -100px!important;
}
.wordmarkWindows_a934d8:before {
    content: 'Default Look New';
    position: absolute;
    top: 0px;
    left: 100px;
    color: var(--text-muted);
    display: block;
    height: 16px;
    width: 300px;
    pointer-events: none;
    padding: 4px 9px 3px;
    letter-spacing: 0.015em!important;
    line-height: 16px;
    font-size: 14px;
    font-weight: 800;
} 
.visual-refresh .bar_b66418 {
    padding-left: 80px;
}